/* Fonts */
@font-face {
  font-family: "Neo Tech";
  src: url("/media/fonts/neotech.otf") format("opentype");
}

@font-face {
  font-family: "Neo Tech Black";
  src: url("/media/fonts/neotech-black.otf") format("opentype");
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Universal Styling */
body {
  font-family: "Neo Tech", sans-serif;
  overflow-x: hidden;
  overflow: overlay;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #00eeff;
}

h1,
h2 {
  font-family: "Neo Tech";
  line-height: 1.2;
  letter-spacing: 1.5px;
  color: #fff;
}

p {
  color: silver;
  letter-spacing: 1px;
}

/* Video Background */
.video-background {
  z-index: -2;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29, 0.65);
  mix-blend-mode: overlay;
}

/* Scrollbar Colors */

/* Container Scrollbar color */
.glass-container::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

.glass-container::-webkit-scrollbar-track {
  background: rgba(31, 38, 135, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
  height: 95vh;
  border-radius: 8px;
}

.glass-container::-webkit-scrollbar-thumb {
  background: rgba(31, 38, 135, 0.7);
  border-radius: 8px;
}

.glass-container::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 38, 135, 1);
}

/* Body Scrollbar color */
body::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: rgba(31, 38, 135, 0.25);
  margin-top: 55px;
  margin-bottom: 1px;
  height: 95vh;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(31, 38, 135, 0.7);
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 38, 135, 1);
  border-radius: 8rem;
}

/* Navbar Utility Classes */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Navbar */
.menu-btn {
  display: none;
}

.nav-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  border: none;
  height: 60px;
  transition: 0.25s all ease-in-out;
}

.nav-container .nav-list {
  display: flex;
}

.nav-container a {
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #fff;
  padding: 10px;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-container .flex {
  justify-content: space-between;
  color: none;
}

/* Shadow Effect on Navbar applied on Scroll with JavaScript */
.scrolling-active {
  background-color: rgba(0, 1, 5);
  box-shadow: 0 2px 10px 1px rgba(31, 38, 135, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  height: 50px;
}

/* Animation Effects on Top Navbar */
.nav-list a::before {
  top: 2px;
  transform-origin: left;
}
.nav-list a::after {
  bottom: 5px;
  transform-origin: right;
}

.nav-list a:hover {
  color: #00eeff;
  border-bottom: none;
  transition: 0.1s all ease-in-out;
}
.nav-list a::before,
.nav-list a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00eeff;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-list a:hover::before,
.nav-list a:hover::after {
  transform: scaleX(1);
}

/* Sections */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /* background-color: rgba(255, 122, 122, 0.185); */
}

.text h1 {
  font-size: 5em;
  line-height: 2em;
}

.text h2 {
  font-size: 3em;
  /* line-height: 1.5em; */
}

/* Hire Me Button */
.text a {
  display: inline-block;
  font-size: 1.1em;
  background: gray;
  padding: 13px 30px 9.5px 30px;
  margin-top: 50px;
  letter-spacing: 1.5px;
  transition: 0.385s ease-in-out;
  border-radius: 6px;
}

/* Hire Me Button on Hover */
.text a:hover {
  letter-spacing: 3px;
  background: #00eeff;
  color: rgb(71, 71, 71);
  transform: scale(1.05);
  transition: 0.385s ease-in-out;
  box-shadow: 0 0 10px 2px #00eeff;
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(246, 255, 122, 0.247); */
  overflow: hidden;
}

.about .text {
  width: 40%;
}

/* Projects Container that contains the Glass Container GLOBAL */
.projects {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "projects-heading-container" "glass-container";
  overflow: hidden;
}

.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(122, 206, 255, 0.397); */
  overflow: hidden;
}

.contact .text {
  width: 40%;
}

/* Projects Heading Container GLOBAL */
.projects-heading-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 2px;
  /* margin-top: 15rem; */
}

/* Windows Image on the right of the Projects Heading Container */
.windows {
  max-width: 30%;
  max-height: 30%;
}

/* Glass Container displaying all Project Cards GLOBAL */
.glass-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-areas: "glass-container";
  justify-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  width: 90%;
  padding: 75px;
  margin: 10rem auto;
  overflow: hidden;
  position: relative;
}

/* Project Cards GLOBAL */
.card-wrapper {
  background: rgba(23, 23, 23, 0.6);
  box-shadow: 0 2px 8px 0 #1f2687b3;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  position: relative;
  width: 320px;
  height: 450px;
  overflow: hidden;
}

/* Project Card Content GLOBAL */
.project-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.7s ease-in-out;
  z-index: 1;
}

/* Project Circle with Image of project before hover GLOBAL */
.card-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(150px at 80% 20%);
  transition: 0.55s ease-in-out;
  z-index: 1;
}

/* Project Circle with Image of project on hover - Circle will move to the left GLOBAL */
.card-wrapper:hover::before {
  clip-path: circle(300px at 80% -20%);
}

/* Project Card Grey Background on card with greyed out text on background GLOBAL*/
/* .card-wrapper::after {
  content: "Project 1";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 10em;
  color: #ffffff0d;
} */

/* Project 1 Image for Circle */
.card-wrapper-project1::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project 2 Image for Circle */
.card-wrapper-project2::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project 3 Image for Circle */
.card-wrapper-project3::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project 4 Image for Circle */
.card-wrapper-project4::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project 5 Image for Circle */
.card-wrapper-project5::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project 6 Image for Circle */
.card-wrapper-project6::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project 7 Image for Circle */
.card-wrapper-project7::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project 8 Image for Circle */
.card-wrapper-project8::before {
  background: url(/media/images/projects/code.jpg);
}

/* Project Content moves up on Hover GLOBAL */
.card-wrapper:hover .project-content {
  height: 225px;
}

/* Project H2 Styling GLOBAL */
.card-wrapper h2 {
  position: relative;
  letter-spacing: 2px;
  color: silver;
  font-size: 2rem;
  margin: 0 auto;
}

/* View Project Button Styling GLOBAL */
.card-wrapper a {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(112, 128, 144, 0.4);
  border-radius: 25px;
  margin-top: 1.6rem;
  opacity: 0;
  transition: 0.65s ease-in-out;
  transform: translateY(110px);
  letter-spacing: 1.5px;
}

/* Project Card Hover - Styling for View Projects Button on Hover - Transition Effect GLOBAL */
.card-wrapper:hover a {
  opacity: 1;
  transition: 0.5s ease-in-out;
  transform: translateY(0px);
}

/* View Projects Button Styling on Hover GLOBAL */
.card-wrapper a:hover {
  background: #00eeff;
  color: #1f1f1f;
  transition: 0.5s ease-in-out;
}

/* GitHub Icon Layout GLOBAL */
.github-container {
  margin-top: 20px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.55s ease-in-out;
  transform: translateY(100px);
}

/* GitHub Icon Styling GLOBAL */
.github {
  width: 30px;
  height: auto;
  color: silver;
  transition: 0.4s ease-in-out;
}

/* GitHub Icon Styling on Hover GLOBAL */
.github:hover {
  color: #6e5494;
  transition: 0.4s ease-in-out;
}

/* GitHub Icon Transition on Hover GLOBAL */
.card-wrapper:hover .github-container {
  opacity: 1;
  transition: 0.45s ease-in-out;
  transform: translateY(0px);
  transition-delay: 0.315s;
}

/* Code Languages Container GLOBAL */
.code-languages {
  width: fit-content;
  margin: 42px 0 0 15px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  transform: translateY(75px);
}

/* Code Languages Container Transition on Hover GLOBAL */
.card-wrapper:hover .code-languages {
  opacity: 1;
  transition: 0.55s ease-in-out;
  transform: translateY(0px);
  transition-delay: 0.4s;
}

/* HTML5 Icon Styling */
.html5 {
  width: 15px;
  height: auto;
  color: silver;
  margin: 0 10px;
  transition: 0.4s ease-in-out;
}

/* HTML5 Icon Styling on Hover */
.html5:hover {
  color: #dc4d25;
  transition: 0.4s ease-in-out;
}

/* CSS3 Icon Styling */
.css3 {
  width: 15px;
  height: auto;
  color: silver;
  margin: 0 10px;
  transition: 0.4s ease-in-out;
}

/* CSS3 Icon Styling on Hover */
.css3:hover {
  color: #254bdd;
  transition: 0.4s ease-in-out;
}

/* JavaScript Icon Styling */
.js {
  width: 17px;
  height: auto;
  color: silver;
  margin: 0 10px;
  transition: 0.4s ease-in-out;
}

/* JavaScript Icon Styling on Hover */
.js:hover {
  color: #e8d44d;
  transition: 0.4s ease-in-out;
}

/* Project 1 Gradient Container */
.project1-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #1f2687 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 1 Gradient Container Transition on Hover */
.card-wrapper:hover .project1-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #1f2687 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}

/* Project 2 Gradient Container */
.project2-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #bb332e 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 2 Gradient Container Transition on Hover */
.card-wrapper:hover .project2-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #bb332e 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}

/* Project 3 Gradient Container */
.project3-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #b7db35 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 3 Gradient Container Transition on Hover */
.card-wrapper:hover .project3-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #b7db35 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}

/* Project 4 Gradient Container */
.project4-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #22ad7f 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 4 Gradient Container Transition on Hover */
.card-wrapper:hover .project4-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #22ad7f 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}

/* Project 5 Gradient Container */
.project5-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #258faf 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 5 Gradient Container Transition on Hover */
.card-wrapper:hover .project5-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #258faf 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}

/* Project 6 Gradient Container */
.project6-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #c731a1 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 6 Gradient Container Transition on Hover */
.card-wrapper:hover .project6-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #c731a1 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}
/* Project 7 Gradient Container */
.project7-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #867836 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 7 Gradient Container Transition on Hover */
.card-wrapper:hover .project7-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #867836 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}

/* Project 8 Gradient Container */
.project8-gradient-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s ease-in-out;
  transform: translateY(0px);
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #c2c2c2 1%,
    #0e0e0e0d 35%
  );
  z-index: -2;
}

/* Project 8 Gradient Container Transition on Hover */
.card-wrapper:hover .project8-gradient-container {
  background: radial-gradient(
    circle farthest-corner at 100% 100%,
    #c2c2c2 1%,
    #0e0e0e0d 35%
  );
  opacity: 1;
  transition: 0.85s ease-in-out;
  transform: translateY(-220px);
}

/* Responsive Media Queries for Mobile */
@media screen and (max-width: 872px) {
  /* Mobile Nav Menu Styles */

  /* Hamburger Menu Container */
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  /* Menu Button Burger Styling*/
  .menu-burger {
    width: 29px;
    height: 3.8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 238, 255, 0.8);
    transition: all 0.5s ease-in-out;
  }

  /* Menu Burger BEFORE & AFTER Elements */
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 3.8px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 238, 255, 0.8);
    transition: all 0.5s ease-in-out;
  }

  .menu-burger::before {
    transform: translateY(-11px);
  }

  .menu-burger::after {
    transform: translateY(11px);
  }

  /* Menu Button Burger ANIMATION */
  .menu-btn.open .menu-burger {
    transform: translateX(-35px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-burger::before {
    transform: rotate(45deg) translate(25px, -25px);
  }

  .menu-btn.open .menu-burger::after {
    transform: rotate(-45deg) translate(25px, 25px);
  }

  /* Menu ul element, consists of li & a elements */
  .change,
  .nav-list {
    width: 275px;
    height: 90%;
    position: fixed;
    top: 50px;
    right: -275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px 0 0 25px;
    transition: right 0.6s cubic-bezier(1, 0, 0, 1);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav-list li {
    margin: 25px;
  }

  .nav-list a {
    font-size: 1.5rem;
    display: flex;
    padding: 11px 0;
  }

  .change {
    right: 0;
    box-shadow: 0 1px 7px 0 rgba(31, 38, 135, 0.8);
  }

  .logo {
    font-size: 1.85rem;
  }

  .home,
  .about,
  .contact {
    padding: 8%;
  }

  .home .text {
    width: 100%;
    font-size: 0.5rem;
  }

  .home a {
    font-size: 0.85rem;
  }

  .about .text {
    width: 100%;
    font-size: 0.69rem;
  }

  .about .text p {
    font-size: 0.9rem;
    line-height: 1.1rem;
    letter-spacing: 1.5px;
  }

  .projects-heading-container {
    display: block;
    padding: 8%;
  }

  .projects-heading {
    font-size: 3rem;
    display: inline-block;
    margin: 0;
  }

  .windows {
    display: block;
    width: 100%;
    background: chartreuse;
  }

  .contact .text {
    width: 100%;
    font-size: 0.69rem;
  }

  .contact .text p {
    font-size: 0.9rem;
    line-height: 1.1rem;
    letter-spacing: 1.5px;
  }
}
