/* Fonts */
@font-face {
  font-family: "Neo Tech";
  src: url("/media/fonts/neotech.otf") format("opentype");
}

@font-face {
  font-family: "Neo Tech Black";
  src: url("/media/fonts/neotech-black.otf") format("opentype");
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Universal Styling */
body {
  font-family: "Neo Tech", sans-serif;
  overflow-x: hidden;
  overflow: overlay;
  /* height: 1000vh; */
  /* overflow: hidden; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #00eeff;
}

h1,
h2 {
  font-family: "Neo Tech";
  line-height: 1.2;
  margin: 10px 0;
  letter-spacing: 1.5px;
  color: #fff;
}

p {
  color: silver;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Video Background */
.video-background {
  z-index: -2;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29, 0.65);
  mix-blend-mode: overlay;
}

/* Scrollbar Colors */

/* Container Scrollbar color */
.card-wrapper::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

.card-wrapper::-webkit-scrollbar-track {
  background: rgba(31, 38, 135, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
  height: 95vh;
  border-radius: 8px;
}

.card-wrapper::-webkit-scrollbar-thumb {
  background: rgba(31, 38, 135, 0.7);
  border-radius: 8px;
}

.card-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 38, 135, 1);
}

/* Body Scrollbar color */
body::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: rgba(31, 38, 135, 0.25);
  margin-top: 7.15vh;
  margin-bottom: 1px;
  height: 95vh;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(31, 38, 135, 0.7);
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 38, 135, 1);
  border-radius: 8rem;
}

/* Navbar */
.menu-btn {
  display: none;
}

.nav-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  border: none;
  height: 7vh;
  transition: 0.25s all ease-in-out;
}

.nav-container .nav-list {
  display: flex;
}

.nav-container a {
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #fff;
  padding: 10px;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-container .flex {
  justify-content: space-between;
  color: none;
}

.scrolling-active {
  background-color: rgba(0, 1, 5);
  box-shadow: 0 1px 10px 0 rgba(31, 38, 135, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  height: 6vh;
}

/* Animation Effect on Top Navbar */
.nav-list a::before {
  top: 2px;
  transform-origin: left;
}
.nav-list a::after {
  bottom: 5px;
  transform-origin: right;
}

.nav-list a:hover {
  color: #00eeff;
  border-bottom: none;
  transition: 0.1s all ease-in-out;
}
.nav-list a::before,
.nav-list a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00eeff;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-list a:hover::before,
.nav-list a:hover::after {
  transform: scaleX(1);
}

/* Projects Container */
.projects-container {
  position: relative;
  background-color: lightblue;
  margin: 7vh auto;
  width: 90%;
  height: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "projects-heading windows" "glass-container glass-container";
}

/* Projects H1 Heading */
.projects-heading {
  grid-area: projects-heading;
  align-self: center;
  justify-self: center;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 2px;
  /* margin-top: 5rem; */
}

/* Windoes Image */
.windows {
  /* margin-top: 5rem; */
  grid-area: windows;
  align-self: center;
  justify-self: center;
  max-width: 60%;
  max-height: 60%;
}

/* Glass Container */
.glass-container {
  grid-area: glass-container;
  align-self: center;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  width: 90%;
  /* top: 25vh; */
  padding: 75px;
  /* margin-top: 10rem; */
  /* margin-bottom: 200px; */
  /* position: relative; */
  overflow: hidden;
}

/* Glass Container Paragrah - JUST FOR TESTING */
.glass-container p {
  line-height: 1.8rem;
  font-size: 1.25rem;
}

/* Project Cards */
.card-wrapper {
  width: 100%;
}

.card-wrapper h1 {
  font-size: 55px;
}

.card-wrapper p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
}

/* Responsive Media Queries for Mobile*/
@media screen and (max-width: 872px) {
  /* Mobile Nav Menu Styles */

  /* Hamburger Menu Container */
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  /* Menu Button Burger Styling*/
  .menu-burger {
    width: 29px;
    height: 3.8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 238, 255, 0.8);
    transition: all 0.5s ease-in-out;
  }

  /* Menu Burger BEFORE & AFTER Elements */
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 3.8px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 238, 255, 0.8);
    transition: all 0.5s ease-in-out;
  }

  .menu-burger::before {
    transform: translateY(-11px);
  }

  .menu-burger::after {
    transform: translateY(11px);
  }

  /* Menu Button Burger ANIMATION */
  .menu-btn.open .menu-burger {
    transform: translateX(-35px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-burger::before {
    transform: rotate(45deg) translate(25px, -25px);
  }

  .menu-btn.open .menu-burger::after {
    transform: rotate(-45deg) translate(25px, 25px);
  }

  /* Menu ul element, consists of li & a elements */
  .change,
  .nav-list {
    width: 275px;
    height: 92%;
    position: fixed;
    top: 6.9vh;
    right: -275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px 0 0 25px;
    transition: right 0.6s cubic-bezier(1, 0, 0, 1);
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav-list li {
    margin: 25px;
  }

  .nav-list a {
    font-size: 1.5rem;
    display: flex;
    padding: 11px 0;
  }

  .change {
    right: 0;
    box-shadow: 0 1px 7px 0 rgba(31, 38, 135, 0.8);
  }
}
