/* Fonts */
@font-face {
  font-family: "Neo Tech";
  src: url("/media/fonts/neotech.otf") format("opentype");
}

@font-face {
  font-family: "Neo Tech Black";
  src: url("/media/fonts/neotech-black.otf") format("opentype");
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Scrollbar Color */
.content-wrapper::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

.content-wrapper::-webkit-scrollbar-track {
  background: transparent;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 95vh;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background: rgba(31, 38, 135, 0.7);
  color: transparent;
  border-radius: 8rem;
}

/* Universal Styling */
body {
  font-family: "Neo Tech", sans-serif;
  color: #fff;
  overflow: hidden;
  /* position: relative; */
}

/* START OF SMOOT SCROLL TEST */

/* Smooth Scroll */
.content-wrapper {
  background: rgba(255, 255, 255, 0.01);
  border-radius: 25px;
  width: 90%;
  max-height: 750px;
  margin: 4% 5%;
  top: 7vh;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  overflow-y: scroll;
}

.smooth-scroll-wrapper {
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
}

.content {
  width: 80%;
  margin: 160px auto;
  position: relative;
}

.content h1 {
  font-size: 55px;
}

.content p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
}

.img {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background: url(/projects/smooth-scroll/test/smooth-scroll-with-js/banner.jpg)
    no-repeat 50% 50%;
  background-size: cover;
}
/* END OF SMOOTH SCROLL TEST */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #00eeff;
}

h1,
h2 {
  font-family: "Neo Tech";
  line-height: 1.2;
  margin: 10px 0;
  letter-spacing: 1.5px;
}

img {
  width: 100%;
}

/* Navbar */
.menu-btn {
  display: none;
}

.nav-container {
  z-index: 10;
  background-color: #000107;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  height: 7vh;
}

.nav-container .nav-list {
  display: flex;
}

.nav-container a {
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #fff;
  padding: 10px;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-container .flex {
  justify-content: space-between;
}

/* Animation Effect on Top Navbar */
.nav-list a::before {
  top: 2px;
  transform-origin: left;
}
.nav-list a::after {
  bottom: 5px;
  transform-origin: right;
}

.nav-list a:hover {
  color: #00eeff;
  border-bottom: none;
  transition: 0.1s all ease-in-out;
}
.nav-list a::before,
.nav-list a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00eeff;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-list a:hover::before,
.nav-list a:hover::after {
  transform: scaleX(1);
}

/* Utilities */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Video Background */
.video-background {
  z-index: -2;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29, 0.65);
  mix-blend-mode: overlay;
}

/* Responsive Media Queries for Mobile*/
@media (max-width: 872px) {
  /* Mobile Nav Menu Styles */

  /* Hamburger Menu Container */
  .menu-btn {
    /* z-index: 99999; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  /* Menu Button Burger Styling*/
  .menu-burger {
    /* z-index: 99999; */
    width: 29px;
    height: 3.8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 238, 255, 0.8);
    transition: all 0.5s ease-in-out;
  }

  /* Menu Burger BEFORE & AFTER Elements */
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 3.8px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 238, 255, 0.8);
    transition: all 0.5s ease-in-out;
  }

  .menu-burger::before {
    transform: translateY(-11px);
  }

  .menu-burger::after {
    transform: translateY(11px);
  }

  /* Menu Button Burger ANIMATION */
  .menu-btn.open .menu-burger {
    transform: translateX(-35px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-burger::before {
    transform: rotate(45deg) translate(25px, -25px);
  }

  .menu-btn.open .menu-burger::after {
    transform: rotate(-45deg) translate(25px, 25px);
  }

  /* Menu ul element, consists of li & a elements */
  .change,
  .nav-list {
    z-index: 999999;
    width: 275px;
    height: 92%;
    position: fixed;
    top: 6vh;
    right: -275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px 0 0 25px;
    transition: right 0.6s cubic-bezier(1, 0, 0, 1);
    /* transition: 0.5s all ease-in-out; */
    background: rgba(255, 255, 255, 0.01);
    box-shadow: none;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .nav-list li {
    margin: 25px;
  }

  .nav-list a {
    font-size: 1.5rem;
    display: flex;
    padding: 11px 0;
  }

  .change {
    right: 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
  }
}
