*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// FONTS

/* lato-100 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-100.woff")
      format("woff"),
    /* Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-100.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-300.woff")
      format("woff"),
    /* Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-300.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-700.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/dtm85.github.io/projects/Natours/media/fonts/Lato/lato-v17-latin-900.svg#Lato")
      format("svg"); /* Legacy iOS */
}

html {
  overflow: overlay;
  overflow-x: hidden;

  // Font Size set to 100% for html to use with media quries
  font-size: 100%;

  @include respond(tab-land) {
    // width < 1200px?
    font-size: 93.75%;
  }

  @include respond(tab-port) {
    // width < 900px?
    font-size: 87.5%;
  }

  // @include respond(big-desktop) { // Using this media query will cause bugs with font size on cards when hovering price on the back of the card, it does not affect mobile or tablets.
  //   /* width > 1800px? */
  //   font-size: 112.5%;
  // }
}

body {
  box-sizing: border-box;

  // Body Scrollbar color
  &::-webkit-scrollbar {
    width: 0.65rem;
    height: 0.65rem;
  }

  &::-webkit-scrollbar-track {
    background: none;
    margin-top: 7rem;
    margin-bottom: 1px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $clr-primary-1;
    border-radius: 8rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $clr-primary-2;
    border-radius: 8rem;
  }
}
