body {
  font-family: $ff-primary;
  font-weight: 400;
  line-height: 1.7;
  color: $clr-grey-4;
  overflow: overlay;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.heading-primary {
  color: $clr-white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 3.75rem;

  &--main {
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 2.188rem;
    -webkit-animation: moveInLeft 1s ease-out;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.625rem;
      font-family: 3.125rem;
    }
  }

  &--sub {
    display: block;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.094rem;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.3125rem;
    }
  }
}

.heading-secondary {
  font-size: 2.188rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $clr-home-page-light,
    $clr-home-page-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: $transition;
  letter-spacing: 2px;

  @include respond(tab-port) {
    font-size: 1.75rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.313rem 0.625rem 1.25rem rgba($clr-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;

  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
