.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 0.938rem !important;
}

.u-margin-bottom-smedium {
  margin-bottom: 2.95rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3.5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 7rem !important;
}

.u-margin-top-big {
  margin-top: 7rem !important;
}

.u-margin-top-huge {
  margin-top: 6.25rem !important;
}
