///////////
// Fonts //
///////////
/* 
=====
Fonts
=====
*/

// 300
@font-face {
  font-family: "Neo Tech Light";
  src: url("../../media/fonts/NeoTech-Light\(300\).otf") format("opentype");
  // 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark)
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

// 400
@font-face {
  font-family: "Neo Tech";
  src: url("../../media/fonts/NeoTech-Regular\(400\).otf") format("opentype");
  // 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark)
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

// 500
@font-face {
  font-family: "Neo Tech Medium";
  src: url("../../media/fonts/NeoTech-Medium\(500\).otf") format("opentype");
  // 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark)
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

//700
@font-face {
  font-family: "Neo Tech Bold";
  src: url("../../media/fonts/NeoTech-Bold\(700\).otf") format("opentype");
  // 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark)
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

////////////
// Colors //
////////////

// Primary Teal Colors
$clr-primary: #0ef;

// Color Shades

// darkshades of primary color
$clr-primary-0: #aaf9ff;
$clr-primary-1: #88f7ff;
$clr-primary-2: #66f5ff;
$clr-primary-3: #44f3ff;
$clr-primary-4: #22f0ff;
// primary/main color
$clr-primary-5: #0ef;
// lighter shades of primary color
$clr-primary-6: #00cedd;
$clr-primary-7: #00afbb;
$clr-primary-8: #008f99;
$clr-primary-9: #006f77;
$clr-primary-10: #004f55;
$clr-primary-11: #003033;

// darkshades of secondary color
$clr-secondary: #1f2687; // Used fro scrollbar when hovering.
$clr-secondary-dark-1: #1f2687b3; // Used for scrollbar when NOT hovering.
$clr-secondary-dark-2: #1f268740; // DARKER BLUE

// Red / Orange Colors - For Invalid Inputs
$clr-invalid-0: #ffb900;
$clr-invalid-1: #cb0a00;
$clr-invalid-2: #ff7730;

// Green Colors - For Valid Inputs
$clr-valid-0: #7ed56f;
$clr-valid-1: #55c57a;
$clr-valid-2: #28b485;

// Accent color - If needed
$clr-grey-dark-1: #4e4f70; // grey-dark-1
$clr-grey-dark-2: #393a53; // grey-dark-2

// darkest grey - used for headings
$clr-grey-0: #333;
$clr-grey-1: #444;
$clr-grey-2: #555;
$clr-grey-3: #666;
$clr-grey-4: #777;

// grey used for paragraphs & sections
$clr-grey-5: #888;
$clr-grey-6: #999;
$clr-grey-7: #aaa; // grey-light-2
$clr-grey-8: #bbb;
$clr-grey-9: #ccc;
$clr-grey-10: #ddd;
$clr-grey-11: #eee;
$clr-grey-light-1: #f9f7f6; // grey-light-1

// Text
$clr-text: #e2e2e2; // Text Color
$clr-white: #fff;
$clr-black: #000;

// Button Colors
$clr-button-hover-text-grey: #474747; // Text color for buttons
$clr-button-hover-text-grey-alt: #1f1f1f; // Alternate Text color for buttons
$clr-button-background-grey: #808080; // Background color for Buttons
$clr-button-background-grey-alt: #70809066; // Alternate Background color for buttons

// Other company colors
$clr-html5: #dc4d25;
$clr-css3: #2965f1;
$clr-sass: #cf649a;
$clr-bootstrap: #7852b3;
$clr-js: #e8d44d;
$clr-nodejs: #689f63;
$clr-npm: #cb0a00;
$clr-git: #fb4f28;
$clr-github: #6e5494;
$clr-figma: #6e5494;
$clr-ubuntu: #e95321;
$clr-nginx: #009639;
$clr-linode: #02b159;

// Social Media Colors
$clr-discord: #7289da;
$clr-linkedin: #0e76a8;
$clr-microsoft-teams: #6264a7;
$clr-twitter: #08a0e9;

// Font
$ff-neotech: "NeoTech", Helvetica, sans-serif;
$ff-nunito: "Nunito", sans-serif;

// Transitions
$transition: all 0.3s ease-in-out;

// Spacing
$spacing: 0.1rem;

// Radius
$radius: 0.5rem;
$btn-radius: 1.875rem;

// Backgrounds
$background-glass-container: rgba(0, 0, 0, 0.9);
$background-card-dark-grey: rgba(23, 23, 23, 0.9);

// Borders
$border-light-grey: rgba(255, 255, 255, 0.1);

// Shadows
$light-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
$dark-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
$primary-3-big-shadow: 0 0 0.875rem 0.25rem #1f2687;
$primary-3-small-shadow: 0 0 0.625rem 0.0156rem #1f2687;
$box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);

// Max-Width
$max-width: 100rem;
