/* 
=====
RESET
=====
*/
* {
  margin: 0;
  padding: 0;
}

/* 
========================================
RESET for Pseudo Elements & All Elements
========================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 
=============
Global Styles
=============
*/
li,
a {
  text-decoration: none;
  list-style: none;
}

h1,
h2 {
  line-height: 1.2;
  letter-spacing: 0.0938rem;
}

html {
  box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;

  // Font Size set to 100% for html to use with media quries
  /* Font Size set to 100% for html to use with media quries */
  font-size: 100%;

  @include respond(bp-large-1100) {
    font-size: 87.5%;
  }
}

body {
  font-family: "NeoTech";
  color: $clr-grey-dark-2;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.0938rem;
  color: $clr-white;

  // Body Scrollbar color

  &::-webkit-scrollbar {
    /* Body Scrollbar color */
    width: 0.65rem;
    height: 0.65rem;
  }

  &::-webkit-scrollbar-track {
    /* Body Scrollbar Track color */
    background: none;
    margin-bottom: 0.0625rem;
    border-radius: 0.5rem;

    @include respond(bp-largest-1200) {
      margin-top: 4.5rem;
    }
  }

  &::-webkit-scrollbar-thumb {
    /* Body Scrollbar Thumb color */
    background: $clr-secondary-dark-1;
    border-radius: 8rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    /* Body Scrollbar Thumb:HOVER color */
    background: $clr-secondary;
    border-radius: 8rem;
  }
}

// Highlight Color
::selection {
  /* Highlight Color */
  background: $clr-primary;
  color: $clr-white;
}

////////////////////
// Main Container //
////////////////////
/* Main Container */
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2.5rem;

  // background: cornflowerblue;
}
