@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    transform: translateX(0.65rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    transform: translateX(0.65rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  80% {
    transform: translateX(-0.65rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  80% {
    transform: translateX(-0.65rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box; }
  body::-webkit-scrollbar {
    width: 0.65rem;
    height: 0.65rem; }
  body::-webkit-scrollbar-track {
    background: none;
    margin-top: 7rem;
    margin-bottom: 1px;
    border-radius: 8px; }
  body::-webkit-scrollbar-thumb {
    background: #256d3d;
    border-radius: 8rem; }
  body::-webkit-scrollbar-thumb:hover {
    background: #2e864b;
    border-radius: 8rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  overflow: overlay;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 3.75rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 2.188rem;
    -webkit-animation: moveInLeft 1s ease-out;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.094rem;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 2.188rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s linear;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.313rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.875rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 0.938rem; }

.u-margin-bottom-medium {
  margin-bottom: 3.5rem; }

.u-margin-bottom-big {
  margin-bottom: 7rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 1.875rem;
  transition: all 0.25s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background: #fff;
  color: #777;
  letter-spacing: 1.5px; }

.btn--white-margin {
  margin-right: 1.35rem; }

.btn-container {
  display: flex;
  justify-content: center; }

.fade--in {
  opacity: 0;
  transform: translateY(100%); }
  .fade--in.appear {
    transform: translateY(0);
    transition: transform 1s ease, opacity 1.5s ease;
    transition-delay: 0.5s;
    opacity: 1; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.3s; }

.btn-text:hover {
  background: #55c57a;
  color: #fff;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 0.938rem 2.5rem rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: absolute;
    transition: all 0.25s;
    z-index: 1; }
    .composition__photo--p1 {
      left: 0;
      top: -1.25rem; }
    .composition__photo--p2 {
      right: 0;
      top: 1.25rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 6.25rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 0 4rem 0.25rem #55c57a;
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  font-size: 0.938rem;
  padding: 1.563rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.938rem 2.5rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 3.75rem;
    margin-bottom: 0.313rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-0.938rem) scale(1.03); }

.row {
  max-width: 71.25rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.75rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3.75rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3.75rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 3.75rem) / 3) + 3.75rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3.75rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 3.75rem) / 4) + 3.75rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 3.75rem) / 4) + 2 * 3.75rem); }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../media/images/hero.jpg) top center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-container {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem; }
  .header__logo {
    height: 2.25rem; }
  .header__hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background: #f7f7f7;
  padding: 17rem 0;
  margin-top: -20vh; }

.section-features {
  margin-top: -7.35rem;
  padding: 12.5rem 0;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../media/images/nat-4.jpg) top center/cover no-repeat;
  transform: skewY(-7.75deg); }
  .section-features > * {
    transform: skewY(7.75deg); }
