/*
=========
Variables
=========
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #256d3d;
  --clr-primary-2: #2e864b;
  --clr-primary-3: #36a059;
  --clr-primary-4: #3fb967;
  /* primary/main color */
  --clr-primary-5: #55c57a;
  /* lighter shades of primary color */
  --clr-primary-6: #6ece8e;
  --clr-primary-7: #88d6a2;
  --clr-primary-8: #a1dfb5;
  --clr-primary-9: #bae8c9;
  --clr-primary-10: #d4f0dd;
  --clr-primary-11: #e0f5e7;
  /* darkest grey - used for headings */
  --clr-grey-1: #444;
  --clr-grey-2: #555;
  --clr-grey-3: #666;
  --clr-grey-4: #777;
  /* grey used for paragraphs */
  --clr-grey-5: #888;
  --clr-grey-6: #999;
  --clr-grey-7: #aaa;
  --clr-grey-8: #bbb;
  --clr-grey-9: #ccc;
  --clr-grey-10: #ddd;
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --primary-3-big-shadow: 0 0 14px 4px #36a059;
  --primary-3-small-shadow: 0 0 10px 0.25px #36a059;
  --max-width: 1170px;
}

/* 
=============
Global Styles
=============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--clr-grey-4);
  overflow: overlay;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

/* 
==========
Scrollbars
==========
*/
/* Body Scrollbar color */
body::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: none;
  margin-top: 7rem;
  margin-bottom: 1px;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-primary-5);
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-7);
  border-radius: 8rem;
}

/* 
====
Hero
====
*/
.header {
  height: 95vh;
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../media/images/hero.jpg) top center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-container {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.logo {
  height: 2.25rem;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: var(--clr-white);
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 2.188rem;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1.088rem;
  animation: moveInRight 1s ease-out;
}

/* 
----------------------- 
Animations on Hero Text
-----------------------
 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }

  80% {
    transform: translateX(0.65rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }

  80% {
    transform: translateX(-0.65rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
