///////////////////
// ABOUT SECTION //
///////////////////
/* 
=====
ABOUT
=====
*/
.about {
  /* About Glass Container */
  width: 100%;
  grid-column: full-start / full-end;
  background: rgba(39, 39, 39, 0.95);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 3rem auto;
  overflow: hidden;
  position: relative;

  &__heading {
    /* About Me Title */
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin: 5rem auto;
    color: $clr-primary-5;
  }

  &__intro {
    /* About Me Section - Picture & Description */
    padding: 2rem 5.5rem 3rem 5.5rem;
    margin: 0 auto;
    width: 90%;
    height: fit-content;
    background: radial-gradient(
      circle farthest-corner at 100% 100%,
      $clr-grey-dark-2 1%,
      /* #ddfdfd3f 1%, */ #0e0e0e00 50%
    );
    box-shadow: 0 0 8px 3px $clr-grey-dark-2;
    border: 1px solid $border-light-grey;
    border-radius: 10px;
    transition: $transition;

    @include respond(bp-medium-650) {
      padding: 2rem 3rem;
    }

    &--mobile-view {
      /* Profile Picture Container - Used to change Picture & Description from 2 Column over to 1 Column Layout */
      transition: $transition;

      @include respond(bp-medium-650) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__photo {
    /* Profile Picture Styling */
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 9px 0 $clr-primary-5;
    position: relative;
    transform: rotateZ(-2deg);
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 3rem;
    margin-bottom: 0.905rem;
    transition: $transition;

    @include respond(bp-medium-650) {
      margin-right: 0;
      float: none;
    }
  }

  &__text-h2 {
    margin-bottom: 1rem;
  }

  &__text-p1 {
    margin-bottom: 2rem;

    &--bold-hello {
      font-size: 1.25rem;
      font-weight: 500;
      color: $clr-primary-5;
    }
  }

  &__text-p1,
  &__text-p2 {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    color: $clr-text;
  }
}

////////////////////
// SKILLS SECTION //
////////////////////

.skills {
  /* Skills Section Container */
  margin: 10rem auto 4rem auto;
  display: grid;
  align-items: center;
  transition: $transition;

  @include respond(bp-medium-650) {
    margin: 8rem auto 4rem auto;
  }

  @include respond(bp-small-418) {
    margin: 8rem auto 1.5rem auto;
  }

  &__heading {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    color: $clr-primary-5;
  }

  &__section-container {
    padding: 0 5rem;
    transition: $transition;

    @include respond(bp-medium-650) {
      padding: 0 3rem;
    }

    @include respond(bp-small-418) {
      padding: 0 1rem;
    }
  }

  &__outer-wrapper {
    margin: 0 auto;
    width: 65%;
    transition: $transition;

    @include respond(bp-medium-900) {
      width: 100%;
    }
  }

  /* Skills UL of SVG's  */
  &__icon-container {
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    transition: $transition;

    @include respond(bp-small-450) {
      gap: 2.1rem;
    }

    @include respond(bp-small-418) {
      gap: 2.2rem;
    }

    /* 
    ================================================================================================
    6 Column Layout on Skills section that wraps - also has WIDE padding to hold the 6 column layout
    - The WIDE padding will be removed at 900px as it will still hold the 6 Column Layout at 900px
    ================================================================================================
    */
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

    /* 4 Column Layout + Some padding that helps to keep the 4 Column Layout */
    @include respond(bp-medium-672) {
      grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
    }

    /* 5 Column Layout due to the padding changing to even less. */
    @include respond(bp-medium-650) {
      grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
    }

    /* 3 Column Layout (428px) - without this media query it would default to 2 columns with too much space */
    @include respond(bp-small-428) {
      grid-template-columns: repeat(auto-fit, minmax(4.25rem, 1fr));
    }

    /* 3 Column Layout (414px) - without this media query it would default to 2 columns with too much space */
    @include respond(bp-small-418) {
      grid-template-columns: repeat(auto-fit, minmax(4.05rem, 1fr));
    }

    svg {
      /* Styling for all skill svg's - GLOBAL */
      position: relative;
      max-height: 5rem;
      max-width: 5.5rem;
      padding: 0.5rem;
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        $clr-grey-dark-2 1%,
        /* #ddfdfd3f 1%, */ #0e0e0e00 50%
      );
      box-shadow: 0 0 8px 3px $clr-grey-dark-2;
      border: 1px solid $border-light-grey;
      border-radius: 10px;
      transition: $transition;
      overflow: hidden;

      &:hover {
        box-shadow: 0 0 8px 3px $clr-primary-7;
      }
    }
  }

  &__skill {
    display: flex;
    margin: 0 auto;

    &--html5 {
      color: $clr-html5;
    }

    &--css3 {
      color: $clr-css3;
    }

    &--sass {
      color: $clr-sass;
    }

    &--bootstrap {
      color: $clr-bootstrap;
    }

    &--js {
      color: $clr-js;
    }

    &--node-js {
      color: $clr-nodejs;
    }

    &--npm {
      color: $clr-npm;
    }

    &--git {
      color: $clr-git;
    }

    &--figma {
      color: $clr-figma;
    }

    &--ubuntu {
      color: $clr-ubuntu;
    }

    &--nginx {
      color: $clr-nginx;
    }

    &--linode {
      color: $clr-linode;
    }
  }
}
