/////////////////////
// CONTACT SECTION //
/////////////////////
/* 
=======
CONTACT
=======
*/
.contact {
  /* Contact Section */
  grid-column: full-start / full-end;
  margin: 3rem auto;

  @include respond(bp-medium-900) {
    padding: 6.25rem 0;
    width: 100%;
  }

  &__container-background {
    /* Contact Glass Container */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(
      to top left,
      $background-card-dark-grey 1%,
      #0e0e0e00 70%
    );
    box-shadow: $box-shadow;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 3.5rem 2.5rem 3.5rem 0;
    position: relative;
    overflow: hidden;
    transition: $transition;

    @include respond(bp-medium-900) {
      padding: 3.5rem 0 2.5rem 0;
    }

    @include respond(bp-medium-650) {
      padding-bottom: 1.5rem;
    }

    &--email-svg {
      /* Email SVG - Background */
      fill: rgba(192, 192, 192, 0.1);
      position: absolute;
      left: -50px;
      bottom: -50px;
      width: 35rem;
      height: 35rem;
      z-index: -1;
      transition: $transition;

      @include respond(bp-medium-900) {
        left: -50px;
        top: 230px;
        width: 27rem;
        height: 27rem;
      }

      @include respond(bp-medium-650) {
        left: -50px;
        top: 260px;
        width: 25rem;
        height: 25rem;
      }

      @include respond(bp-small-450) {
        left: -50px;
        top: 330px;
        width: 20rem;
        height: 20rem;
      }
    }
  }

  &__wrapper {
    /* Contact Info & Message Wrapper */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    transition: $transition;

    @include respond(bp-medium-900) {
      grid-template-columns: 1fr;
    }
  }

  &__connect {
    /* Contact Info */
    display: flex;
    width: 75%;
    justify-content: center;
    transition: $transition;

    @include respond(bp-medium-900) {
      height: 30rem;
      width: 90%;
    }
  }

  &__title {
    /* h2 Header */
    color: $clr-primary-5;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__description,
  &__description2 {
    /* Header Description for Paragraph 1 & 2 */
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 2px;
    color: $clr-text;
  }

  &__description2 {
    /* Header Description */
    padding-top: 1.5rem;
  }
  &__description {
    /* Header Description */
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 2px;
    color: $clr-text;
  }

  &__info-space {
    /* Adds extra space to info section for mobile view */
    transition: $transition;

    @include respond(bp-medium-900) {
      margin: 5rem 0;
    }
  }

  &__phone,
  &__email,
  &__location {
    display: flex;
    align-items: center;
    padding: 1.2rem 0 1.2rem 2rem;
  }

  &__phone--svg {
    /* Flipped SVG by 90deg so that the phone is faceing towards the numbers */
    transform: rotate(90deg);
  }

  &__phone--svg,
  &__email--svg,
  &__location--svg {
    /* SVG Color, Width & Height */
    width: 1.25rem;
    height: 1.25rem;
    color: $clr-primary-5;
  }

  &__phone--h4,
  &__email--link,
  &__location--h4 {
    /* Padding, font-weight & color of text in the info section */
    padding-left: 0.7rem;
    font-weight: 400;
    color: $clr-text;
  }

  &__email--link {
    /* Email link text color */
    color: $clr-text;
    transition: $transition;

    &:hover {
      color: rgb(148, 148, 255);
    }
  }

  &__location--h4 {
    /* Extra padding on the top to help make the text be more centered as align-items: center; did not center 100% */
    padding-top: 0.25rem;
  }

  &__social {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: fit-content;
    transition: $transition;

    @include respond(bp-medium-900) {
      width: 100%;
    }

    @include respond(bp-medium-767-maxwidth) {
      width: 90%;
    }

    @include respond(bp-small-500) {
      width: 100%;
    }
  }

  &__link {
    display: inline-flex;

    /* SVGs */
    &--email {
      display: flex;
      transition: $transition;
      color: $clr-grey-3;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--github {
      display: flex;
      transition: $transition;
      color: $clr-github;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--linkedin {
      display: flex;
      transition: $transition;
      color: $clr-linkedin;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--twitter {
      transition: $transition;
      color: $clr-twitter;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--discord {
      transition: $transition;
      color: $clr-discord;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--microsoft-teams {
      transition: $transition;
      color: $clr-microsoft-teams;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__form-section {
    /* Message - Submit Form */
    width: 90%;
    background: linear-gradient(
      135deg,
      $clr-grey-dark-1 0%,
      $clr-grey-dark-2 100%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 8px 3px $clr-grey-dark-2;
    border: 1px solid $border-light-grey;
    border-radius: 10px;
    z-index: 2;
    transition: $transition;

    @include respond(bp-medium-900) {
      margin-top: 10rem;
    }
  }
}
