////////////////////////
// NAVIGATION SECTION //
////////////////////////
/* 
==========
NAVIGATION
==========
*/
.navbar {
  grid-column: nav-start / nav-end;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: $transition;

  &__container {
    width: 100%;
    padding: 1.5rem 2rem 1rem 2rem;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    color: $clr-text;
    transition: $transition;

    &--tech-media {
      font-weight: 500;
      color: $clr-primary-5;
    }
  }

  &__menu-btn {
    /* Menu Button display:none - for larger screens */
    display: none;
    justify-self: end;

    @include respond(bp-medium-767-maxwidth) {
      display: grid;
    }
  }

  &__nav-links {
    /* Will HIDE Navbar Links on top Navbar if screen is 768px or smaller */
    display: none;

    /* LAYOUT for Navbar Links on top Navbar for screens bigger than 768px */
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: end;

    @include respond(bp-medium-768-minwidth) {
      /* Will SHOW Navbar Links on top Navbar if screen is 768px or BIGGER */
      display: grid;
    }

    &--link {
      text-transform: capitalize;
      color: $clr-text;
      transition: $transition;
      display: inline-block;
      font-size: 1.1rem;
      padding: 0.8125rem 1.875rem 0.5938rem 1.875rem;
      letter-spacing: 1px;
      border-radius: 0.375rem;

      &:hover {
        background: #00eeff;
        color: rgb(71, 71, 71);
        transition: $transition;
        box-shadow: 0 0 0.625rem 0.125rem #00eeff;
        transform: translateY(-0.1875rem);

        &:active {
          transform: translateY(-0.0625rem);
        }
      }
    }
  }

  &.scrolling-active {
    /* Scrolling Actice class for styles applied with JavaScript on Scroll  */
    background: #000105;
    box-shadow: 0 0.125rem 0.75rem 0.0625rem $clr-primary-8;
  }

  ////////////////////
  // SIDEBAR - NAV //
  ////////////////////

  .sidebar {
    /* Sidebar Layout & Styling - Sidebar will only show when screen is smaller than 768px */
    background: $clr-grey-1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: $transition;
    transform: translateX(100%);
    z-index: 11;

    &.show-sidebar {
      /* Show Sidebar class for JavaScript when Menu Button is clicked */
      transform: translateX(0);
    }

    &__logo {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 2px;
      color: $clr-text;
      display: block;
      position: absolute;
      top: 1.5rem;
      left: 2rem;

      &--tech-media {
        font-weight: 500;
        color: $clr-primary-5;
      }
    }

    &__links {
      /* Sidebar Links Center Alignment */
      text-align: center;

      &--link:link,
      &--link:visited {
        /* Styles applied to each link the Sidebar */
        box-sizing: border-box;
        font-size: 2rem;
        margin-bottom: 4.5rem;
        text-transform: capitalize;
        letter-spacing: $spacing;
        color: $clr-text;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: $transition;

        &:hover {
          text-shadow: 0.125rem 0.125rem 1.5625rem $clr-black;
          transform: translateY(-0.1875rem) scale(1.25);
          color: $clr-primary-5;
        }

        &:active {
          text-shadow: 0.125rem 0.125rem 0.9375rem $clr-black;
          transform: translateY(-0.0625rem) scale(1.225);
        }
      }
    }

    &__social-icons {
      /* Sidebar Social Icons - Display Grid */
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 23rem;
      margin-top: 3rem;
    }

    &__social-item {
      /* Sidebar Social Icons Container to size SVG */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__social-link {
      display: inline-flex;

      /* SVGs */
      &--email {
        color: $clr-grey-3;
        height: 2.5rem;
        width: 2.5rem;
      }

      &--github {
        color: $clr-github;
        height: 2.5rem;
        width: 2.5rem;
      }

      &--linkedin {
        color: $clr-linkedin;
        height: 2.5rem;
        width: 2.5rem;
      }

      &--twitter {
        color: $clr-twitter;
        height: 2.5rem;
        width: 2.5rem;
      }

      &--discord {
        color: $clr-discord;
        height: 2.5rem;
        width: 2.5rem;
      }

      &--microsoft-teams {
        color: $clr-microsoft-teams;
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    &__social-link:link,
    &__social-link:visited {
      /* Sidebar SVG Colors, Inherited height from navbar__sidebar-social-icons-item container */
      transition: $transition;

      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
