//////////////////////
// PROJECTS SECTION //
//////////////////////
/*
========
PROJECTS
========
*/
.projects {
  grid-column: full-start / full-end;
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: $transition;
  // overflow: hidden;

  &__glass-container {
    /* Glass Container that holds all the project cards */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    background: $background-glass-container;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(31, 38, 135, 0.702);
    border: 0.0625rem solid $border-light-grey;
    border-radius: 1.5625rem;
    width: 100%;
    margin: 3rem auto;
    overflow: hidden;
    position: relative;
  }

  &__heading-container {
    /* Projects Heading Container GLOBAL */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $clr-primary-5;
    text-align: center;
    margin: 5rem auto;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
  }

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
    padding: 0 3rem 4rem 3rem;
    transition: $transition;

    @include respond(bp-small-450) {
      padding: 0 3rem 1.75rem 3rem;
    }
  }

  &__card {
    /* Project Card Wrapper GLOBAL */
    background: $background-card-dark-grey;
    box-shadow: 0 0.125rem 0.5rem 0 $clr-secondary-dark-1;
    border: 0.0625rem solid $border-light-grey;
    border-radius: 1.5625rem;
    position: relative;
    width: 100%;
    width: 20rem;
    height: 28.125rem;
    overflow: hidden;
    will-change: transform;

    &::before {
      /* Project Circle with Image of project before hover GLOBAL */
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: circle(9.375rem at 80% 20%);
      transition: 0.55s ease-in-out;
    }

    &:hover::before {
      /* Project Circle with Image of project on hover - Circle will move to the left GLOBAL */
      clip-path: circle(18.75rem at 80% -20%);
    }

    ////////////////////////////
    // Projects in this Order //
    ////////////////////////////
    /*
    
    1. - N / A *** NOT DONE YET***
    
    2. - Mapty *** NOT DONE YET***
    
    3. - Nexter *** NOT DONE YET***
    
    4. - Natours
    
    5. - Omnifood
    
    6. - Trillo
    
    7. - Portfolio
    
    8. - Back Roads
    
    9. - Tea Station
    
    */

    &--project1::before {
      /* Project 1 Image for Circle */
      background: url("/media/images/projects/`Under__Construction/code.jpg.webp")
        center/cover no-repeat;
    }

    &--project2::before {
      /* Project 2 Image for Circle */
      background: url("/media/images/projects//`Under__Construction/code.jpg.webp")
        center/cover no-repeat;
    }

    &--project3::before {
      /* Project 3 Image for Circle */
      background: url("/media/images/projects/`Under__Construction/code.jpg.webp")
        // <-- Change directory location when Nexter photo is uploaded
        center/cover no-repeat;
    }

    &--project4::before {
      /* Project 4 Image for Circle */
      background: url("/media/images/projects/Natours/natours.png.webp")
        center/cover no-repeat;
    }

    &--project5::before {
      /* Project 5 Image for Circle */
      background: url("/media/images/projects/Omnifood/omnifood.png.webp")
        center/cover no-repeat;
    }

    &--project6::before {
      /* Project 6 Image for Circle */
      background: url("/media/images/projects/Trillo/trillo.png.webp")
        center/cover no-repeat;
    }

    &--project7::before {
      /* Project 7 Image for Circle */
      background: url("/media/images/projects/Portfolio/portfolio.png.webp")
        // <-- Change directory location when Portfolio photo is uploaded
        center/cover no-repeat;
    }

    &--project8::before {
      /* Project 8 Image for Circle */
      background: url("/media/images/projects/BackRoads/back-roads.png.webp")
        center/cover no-repeat;
    }

    &--project9::before {
      /* Project 8 Image for Circle */
      background: url("/media/images/projects/TeaStation/tea-station.png.webp")
        center/cover no-repeat;
    }

    &:hover .projects__project-content {
      /* Project Content moves up on Hover GLOBAL */
      height: 14.0625rem;
    }

    &:hover .projects__btn-container {
      /* Project Card Hover - Styling for View Projects Button on Hover - Transition Effect GLOBAL */
      opacity: 1;
      transform: translateY(0rem);
    }

    &:hover .projects__github-container {
      /* GitHub Icon Transition on Hover GLOBAL */
      opacity: 1;
      transform: translateY(0rem);
      transition-delay: 0.315s;
    }

    &:hover .projects__code-languages {
      /* Code Languages Container Transition on Hover GLOBAL */
      opacity: 1;
      transform: translateY(0rem);
      transition-delay: 0.45s;
    }

    &--project1-gradient {
      /* Project 1 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #d87f36 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project1-gradient {
      /* Project 1 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #d87f36 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project2-gradient {
      /* Project 2 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #12d564 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project2-gradient {
      /* Project 2 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #12d564 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project3-gradient {
      /* Project 3 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #c69963 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project3-gradient {
      /* Project 3 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #c69963 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project4-gradient {
      /* Project 4 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #55c57a 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project4-gradient {
      /* Project 4 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #55c57a 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project5-gradient {
      /* Project 5 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #e67e22 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project5-gradient {
      /* Project 5 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #e67e22 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project6-gradient {
      /* Project 6 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #eb2f64 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project6-gradient {
      /* Project 6 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #eb2f64 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project7-gradient {
      /* Project 7 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #e9b949 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project7-gradient {
      /* Project 7 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #e9b949 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project8-gradient {
      /* Project 8 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #2caeba 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project8-gradient {
      /* Project 8 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #2caeba 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }

    &--project9-gradient {
      /* Project 9 Gradient Container */
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.85s ease-in-out;
      transform: translateY(0rem);
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #678e3e 1%,
        rgba(14, 14, 14, 0) 35%
      );
    }

    &:hover &--project9-gradient {
      /* Project 9 Gradient Container Transition on Hover */
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        #678e3e 1%,
        rgba(14, 14, 14, 0) 35%
      );
      opacity: 1;
      transition: 0.85s ease-in-out;
      transform: translateY(-13.6875rem);
      z-index: -1;
    }
  }
  ////////////////////
  //.card ENDS HERE //
  ////////////////////

  &__project-content {
    /* Project Card Content GLOBAL */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.25rem;
    text-align: center;
    transition: 0.7s ease-in-out;
    z-index: 1;
    will-change: transform;
  }

  &__title {
    /* Project Card Title H2 Styling GLOBAL */
    position: relative;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 400;
    color: $clr-text;
    margin: 0 auto;
  }

  &__btn-container {
    /* View Project Button Container */
    display: inline-block;
    margin-top: 1.5rem;
    opacity: 0;
    transition: 0.65s ease-in-out;
    letter-spacing: 2px;
    transform: translateY(6.875rem);
  }

  &__view-project-btn {
    /* View Project Button Styling GLOBAL */
    padding: 0.8125rem 1.25rem 0.625rem 1.25rem;
    color: $clr-primary-5;
    background: $clr-button-background-grey-alt;
    border-radius: 1.5625rem;
    transition: $transition;

    &:hover {
      /* View Projects Button Styling on Hover GLOBAL */
      background: $clr-primary-5;
      color: $clr-button-hover-text-grey-alt;
      box-shadow: 0 0 0.625rem 0.125rem $clr-primary-5;
    }
  }

  &__github-container {
    /* GitHub Icon Layout GLOBAL */
    margin-top: 1.875rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.55s ease-in-out;
    transform: translateY(6.25rem);
  }

  &__github-link {
    display: inline-flex;
  }

  &__github-svg {
    /* GitHub Icon Styling GLOBAL */
    width: 1.875rem;
    height: 1.875rem;
    color: $clr-text;
    transition: 0.4s ease-in-out;

    &:hover {
      /* GitHub Icon Transition on Hover GLOBAL */
      color: $clr-github;
    }
  }

  &__code-languages {
    /* Code Languages Container GLOBAL */
    width: fit-content;
    height: 3.125rem;
    margin: 3.4375rem 0 0 0.9375rem;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateY(4.6875rem);
  }

  &__html5-svg {
    /* HTML5 Icon Styling */
    width: 1.0625rem;
    height: 1.0625rem;
    color: $clr-html5;
    margin: 0 0.3125rem;
  }

  &__css3-svg {
    /* CSS3 Icon Styling */
    width: 1.0625rem;
    height: 1.0625rem;
    margin: 0 0.3125rem;
    color: $clr-css3;
  }

  &__js-svg {
    /* JavaScript Icon Styling */
    width: 1.0625rem;
    height: 1.125rem;
    margin: 0 0.3125rem;
    color: $clr-js;
  }
}

///////////////////////////////////
// MEDIA QUERIES 4 PROJECT CARDS //
///////////////////////////////////
