.container {
  max-width: 75rem;
  margin: 5rem auto;
  background: var(--clr-grey-11);
  box-shadow: var(--huge-dark-shadow);

  min-height: 31.25rem;

  @include respond(bp-largest-1200) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
