///////////////////
// ABOUT SECTION //
///////////////////
/* 
=====
ABOUT
=====
*/
.about {
  width: 100%;
  grid-column: full-start / full-end;
  // background: rgba(0, 0, 0, 0.9);
  background: rgba(39, 39, 39, 0.95);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 3rem auto;
  overflow: hidden;
  position: relative;

  &__heading {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin: 4rem auto;
    color: $clr-primary-5;
  }

  &__picture {
    padding: 0 5rem;
    margin: 0 auto;

    @include respond(bp-medium-650) {
      padding: 0 1.5rem;
    }

    &--container {
      @include respond(bp-medium-650) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &--dan-pic {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      box-shadow: 0 0 9px 0 $clr-primary-5;
      position: relative;
      transform: rotateZ(-2deg);
      float: left;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      margin-right: 3rem;

      @include respond(bp-medium-650) {
        margin-right: 0;
        float: none;
      }
    }

    &--text-h2 {
      margin-bottom: 1rem;
    }

    &--text-p1 {
      margin-bottom: 2rem;
    }

    &--text-p1,
    &--text-p2 {
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 1.5;
    }
  }

  &__content {
    margin: 7rem auto 4rem auto;
    display: grid;
    align-items: center;

    &--h1 {
      font-weight: 400;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem;
      color: $clr-primary-5;
    }

    &--skills-container {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      // margin: auto;
      padding: 0 5rem;
      // min-width: 100%;

      @include respond(bp-medium-650) {
        padding: 0 2.5rem;
      }
    }

    &--skills {
      // display: grid;
      // justify-content: center;
      // align-items: center;
      // grid-template-columns: repeat(auto-fill, 2.5rem);
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      // grid-template-columns: 1fr;
      // column-gap: 5rem;
      width: 100%;

      svg {
        // max-width: fit-content;
        // min-width: 2.5rem;
        // width: 100%;
      }
    }

    &--skill {
      // max-width: fit-content;
      // min-width: fit-content;
      // width: 100%;
      // display: grid;
      // width: fit-content;
      // justify-content: center;
      // align-items: center;
    }

    // &--skill-html5,
    // &--skill-css3,
    // &--skill-sass,
    // &--skill-bootstrap,
    // &--skill-js,
    // &--skill-node-js,
    // &--skill-npm,
    // &--skill-git,
    // &--skill-figma,
    // &--skill-ubuntu,
    // &--skill-nginx,
    // &--skill-linode {
    //   width: 2rem;
    // }
  }
}
