///////////////////
// ABOUT SECTION //
///////////////////
/* 
=====
ABOUT
=====
*/
.about {
  width: 100%;
  grid-column: full-start / full-end;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 3rem auto;
  padding: 3rem;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;

  &__pictures {
    &--photo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
      // position: relative;
    }

    &--dan-pic {
      max-width: 15rem;
      border-radius: 50%;
      box-shadow: 0 0 9px 0 $clr-primary-5;
      position: relative;
    }

    &--about-h1 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem;
      color: $clr-primary-5;
    }

    &--about-p1 {
      margin-bottom: 2rem;
    }

    &--about-p1,
    &--about-p2 {
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 1.4;
    }
  }

  &__content {
    display: grid;
    // justify-content: center;
    align-items: center;

    &--h1 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem;
      color: $clr-primary-5;
    }

    &--container {
      // display: flex;
      // justify-content: center;
      // align-self: flex-end;
      // margin: auto;
    }

    &--skills {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 5rem;
      width: 100%;

      svg {
        max-width: 5rem;
        min-width: 3.5rem;
        width: fit-content;
      }
    }

    &--skill {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    // &--skill-html5,
    // &--skill-css3,
    // &--skill-sass,
    // &--skill-bootstrap,
    // &--skill-js,
    // &--skill-node-js,
    // &--skill-npm,
    // &--skill-git,
    // &--skill-figma,
    // &--skill-ubuntu,
    // &--skill-nginx,
    // &--skill-linode {
    //   width: 2rem;
    // }
  }
}
