////////////////////
// HEADER SECTION //
////////////////////
/* 
======
HEADER
======
*/
.header {
  grid-column: full-start / full-end;

  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  @include respond(bp-medium-950) {
    /* Breakpoint for mobile */
    grid-template-columns: 1fr;
  }

  &__hero-text {
    font-weight: 300;
    margin: 0 5rem 0 3rem;

    @include respond(bp-medium-950) {
      /* Breakpoint for mobile */
      margin: auto;
    }
  }

  &__hero-text-logo {
    font-weight: 300;
    font-size: 5rem;
    line-height: 1.7;
    transition: $transition;

    @include respond(bp-medium-767-maxwidth) {
      font-size: 3.5rem;
    }

    &--tech-media {
      font-weight: 500;
      color: $clr-primary-5;
    }
  }

  &__hero-text-h2 {
    font-weight: 400;
    color: silver;
    font-size: 2.4rem;
    margin-bottom: 3.5rem;

    @include respond(bp-medium-767-maxwidth) {
      font-size: 1.5rem;
    }

    @include respond(bp-small-500) {
      &--breakpoint {
        line-height: 1.8;
        display: block;
      }
    }

    &--span {
      /* Span for typewriter text  */
      color: $clr-primary-5;
      position: absolute;
      margin-left: 10px;
      font-weight: 600;
    }

    .header__hero-text-h2--span > .txt {
      /* Cursor for typewriter text */
      border-right: 0.19rem solid chartreuse;
      padding: 2.5px 0;
    }
  }

  &__social-container {
    line-height: 1;
    position: fixed;
    top: 70%;
    left: 0;
    height: fit-content;

    &--list {
      display: block;
      justify-content: center;
      align-items: center;
      grid-template-rows: repeat(4, 1fr);
      row-gap: 3.5rem;
      transition: $transition;
    }

    &--item {
      width: 0;
      height: 0;
      margin-top: 3.5rem;
      background: rgba(220, 20, 60, 0.24);
    }

    &--link:link,
    &--link:visited {
      display: block;
      padding: 0;
      color: $clr-white;
      width: 1.5rem;
      height: 1.5rem;
    }
    &--svg {
      display: block;
      margin: 0;
      transition: $transition;

      &:hover {
        transform: translateX(5px) scale(1.2);
        color: $clr-primary-5;
        // transition: $transition;
      }
    }

    &--svg-email,
    &--svg-github,
    &--svg-linkedin,
    &--svg-twitter {
      width: 1.875rem;
      height: 1.875rem;
    }
  }

  &__iphone {
    display: grid;
    justify-content: center;
    align-items: center;

    &--img {
      margin-top: 6rem;
      width: 25rem;
      transition: $transition;

      @include respond(bp-medium-950) {
        display: none;
      }
    }
  }

  &__hero-btn {
    @include respond(bp-medium-950) {
      display: grid;
      justify-content: center;
      align-items: center;
    }
  }
}
