////////////////////
// HEADER SECTION //
////////////////////
/* 
======
HEADER
======
*/
.header {
  grid-column: full-start / full-end;

  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  @include respond(bp-medium-950) {
    /* Breakpoint for mobile */
    grid-template-columns: 1fr;
  }

  &__hero-text {
    font-weight: 300;
    margin: 0 5rem 0 3rem;

    @include respond(bp-medium-950) {
      /* Breakpoint for mobile */
      margin: auto;
    }
  }

  &__hero-text-h2 {
    font-weight: 400;
    color: silver;
    font-size: 2.4rem;
    line-height: 1.5;

    &--span {
      /* Span for typewriter text  */
      color: $clr-primary-5;
      position: absolute;
      margin-left: 10px;
      font-weight: 600;
    }

    .header__hero-text-h2--span > .txt {
      /* Cursor for typewriter text */
      border-right: 0.19rem solid chartreuse;
      padding: 2.5px 0;
    }
  }

  &__hero-text-logo {
    font-weight: 300;
    font-size: 5rem;
    line-height: 2;

    &--tech-media {
      font-weight: 500;
      color: $clr-primary-5;
    }
  }

  &__iphone {
    display: grid;
    justify-content: center;
    align-items: center;

    &--img {
      margin-top: 6rem;
      width: 25rem;

      @include respond(bp-medium-950) {
        display: none;
      }
    }
  }

  // &__social-container {
  //   background: chartreuse;
  //   display: grid;
  //   place-items: center;
  //   position: relative;
  // }
}
