.navbar {
  grid-column: nav-start / nav-end;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  transition: $transition;

  &__container {
    width: 100%;
    padding: 1rem 2rem;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__logo {
    font-size: 1.85rem;
    font-weight: 500;
    color: $clr-white;
  }

  &__menu-btn {
    display: none;
    justify-self: end;

    @include respond(bp-medium-767-maxwidth) {
      display: grid;
    }
  }

  &__nav-links {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    justify-items: end;
    list-style: none;

    @include respond(bp-medium-768-minwidth) {
      display: grid;
    }

    &--link {
      text-decoration: none;
      text-transform: capitalize;
    }
  }

  /* Fixed Navbar */
  &.scrolling-active {
    background-color: #000105;
    box-shadow: 0 2px 12px 1px #1f2687;
    // border-bottom: 1px solid #ffffff26;
  }
}
