////////////////////////
// NAVIGATION SECTION //
////////////////////////
/* 
==========
NAVIGATION
==========
*/
.navbar {
  grid-column: nav-start / nav-end;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  transition: $transition;

  &__container {
    width: 100%;
    padding: 1.5rem 2rem 1rem 2rem;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $clr-white;
    transition: $transition;

    &--tech-media {
      color: $clr-primary-5;
    }
  }

  &__menu-btn {
    /* Menu Button display:none - for larger screens */
    display: none;
    justify-self: end;

    @include respond(bp-medium-767-maxwidth) {
      display: grid;
    }
  }

  &__nav-links {
    /* Will HIDE Navbar Links on top Navbar if screen is 768px or smaller */
    display: none;

    /* LAYOUT for Navbar Links on top Navbar for screens bigger than 768px */
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: end;

    @include respond(bp-medium-768-minwidth) {
      /* Will SHOW Navbar Links on top Navbar if screen is 768px or BIGGER */
      display: grid;
    }

    &--link {
      text-transform: capitalize;
      color: $clr-white;
      transition: $transition;
      display: inline-block;
      font-size: 1.1rem;
      padding: 13px 30px 9.5px 30px;
      letter-spacing: 1.5px;
      border-radius: 6px;

      &:hover {
        background: #00eeff;
        color: rgb(71, 71, 71);
        transition: $transition;
        box-shadow: 0 0 10px 2px #00eeff;
        transform: translateY(-3px);

        &:active {
          transform: translateY(-1px);
        }
      }
    }
  }

  &.scrolling-active {
    /* Scrolling Actice class for styles applied with JavaScript on Scroll  */
    background: #000105;
    box-shadow: 0 2px 12px 1px $clr-primary-8;
  }

  &__sidebar {
    /* Sidebar Layout & Styling - Sidebar will only show when screen is smaller than 768px */
    background: $clr-grey-1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: $transition;
    transform: translateX(100%);
    z-index: 11;

    &.show-sidebar {
      /* Show Sidebar class for JavaScript when Menu Button is clicked */
      transform: translateX(0);
    }
  }

  &__sidebar-logo {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $clr-white;
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 2rem;

    &--tech-media {
      color: $clr-primary-5;
    }
  }

  &__sidebar-links-item {
    width: 100vw;
    border-bottom: 1px solid $clr-grey-1;
  }

  &__sidebar-links {
    /* Sidebar Links Center Alignment */
    text-align: center;

    &--link:link,
    &--link:visited {
      /* Styles applied to each link the Sidebar */
      box-sizing: border-box;
      font-size: 2rem;
      margin-bottom: 4.5rem;
      text-transform: capitalize;
      letter-spacing: $spacing;
      color: $clr-white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: $transition;

      &:hover {
        text-shadow: 2px 2px 25px $clr-black;
        transform: translateY(-3px) scale(1.25);
        color: $clr-primary-5;
      }

      &:active {
        // transform: translateY(-1px);
        text-shadow: 2px 2px 15px $clr-black;
        transform: translateY(-1px) scale(1.225);
      }
    }
  }

  &__sidebar-social-icons {
    /* Sidebar Social Icons - Display Grid */
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 40px);
    gap: 3rem;
  }

  &__sidebar-social-icons-item {
    /* Sidebar Social Icons Container to size SVG */
    height: 40px;
  }

  &__sidebar-social-icons-link:link,
  &__sidebar-social-icons-link:visited {
    /* Sidebar SVG Colors, Inherited height from navbar__sidebar-social-icons-item container */
    color: $clr-grey-10;
    display: inline-flex;
    height: inherit;
    transition: $transition;

    &:hover {
      color: $clr-primary-5;
      box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
      border-radius: 4px;
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
