////////////////////////
// NAVIGATION SECTION //
////////////////////////
/* 
==========
NAVIGATION
==========
*/
.navbar {
  grid-column: nav-start / nav-end;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  transition: $transition;

  &__container {
    width: 100%;
    padding: 1rem 2rem;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $clr-white;
  }

  &__menu-btn {
    /* Menu Button display:none - for larger screens */
    display: none;
    justify-self: end;

    @include respond(bp-medium-767-maxwidth) {
      display: grid;
    }
  }

  &__nav-links {
    /* Will HIDE Navbar Links on top Navbar if screen is 768px or smaller */
    display: none;

    /* LAYOUT for Navbar Links on top Navbar for screens bigger than 768px */
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    justify-items: end;

    @include respond(bp-medium-768-minwidth) {
      /* Will SHOW Navbar Links on top Navbar if screen is 768px or BIGGER */
      display: grid;
    }

    &--link {
      text-transform: capitalize;
    }
  }

  &.scrolling-active {
    /* Scrolling Actice class for styles applied with JavaScript on Scroll  */
    background-color: #000105;
    box-shadow: 0 2px 12px 1px $clr-primary-8; /* #1f2687 */
  }

  &__sidebar {
    /* Sidebar Layout & Styling - Sidebar will only show when screen is smaller than 768px */
    background: $clr-grey-3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: $transition;
    transform: translateX(100%);
    z-index: 11;

    &.show-sidebar {
      /* Show Sidebar class for JavaScript when Menu Button is clicked */
      transform: translateX(0);
    }
  }

  &__sidebar-links {
    /* Sidebar Links Center Alignment */
    text-align: center;

    &--link:link,
    &--link:visited {
      /* Styles applied to each link the Sidebar */
      font-size: 2rem;
      margin-bottom: 4.5rem;
      text-transform: capitalize;
      letter-spacing: $spacing;
      color: $clr-grey-10;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;

      &:hover {
        color: $clr-primary-5;
      }
    }
  }

  &__sidebar-social-icons {
    /* Sidebar Social Icons - Display Grid */
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 40px);
    gap: 3rem;
  }

  &__sidebar-social-icons-item {
    /* Sidebar Social Icons Container to size SVG */
    height: 40px;
  }

  &__sidebar-social-icons-link:link,
  &__sidebar-social-icons-link:visited {
    /* Sidebar SVG Colors, Inherited height from navbar__sidebar-social-icons-item container */
    color: $clr-grey-8;
    display: flex;
    height: inherit;
    transition: $transition;

    &:hover {
      color: $clr-primary-5;
    }
  }
}
