//////////////////////
// PROJECTS SECTION //
//////////////////////
/*
========
PROJECTS
========
*/
.projects {
  grid-column: full-start / full-end;
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow: hidden;

  &__heading-container {
    /* Projects Heading Container GLOBAL */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $clr-primary-5;
    font-size: 3rem;
    text-align: center;
    margin: 4rem auto;
  }

  &__glass-container {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin: 3rem auto;
    padding: 3rem;
    overflow: hidden;
    position: relative;
  }
}
