//////////////////////
// PROJECTS SECTION //
//////////////////////
/*
========
PROJECTS
========
*/
.projects {
  grid-column: full-start / full-end;
  position: relative;
  width: 100%;
  // height: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow: hidden;

  &__heading-container {
    /* Projects Heading Container GLOBAL */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $clr-primary-5;
    text-align: center;
    margin: 4rem auto;

    &--h1 {
      font-size: 3rem;
      font-weight: 400;
    }
  }

  &__glass-container {
    /* Glass Container that holds all the project cards */
    background: $background-glass-container;
    box-shadow: 0 2px 8px 0 $clr-secondary-dark-1;
    border: 1px solid $border-light-grey;
    border-radius: 25px;
    margin: 3rem auto;
    padding: 3rem;
    width: 90%;
    overflow: hidden;
    position: relative;
  }

  &__card-wrapper {
    /* Project Card Wrapper GLOBAL */
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    // grid-template-areas: "glass-container";
    justify-items: center;
    justify-content: center;
    background: $background-card-dark-grey;
    box-shadow: 0 2px 8px 0 $clr-secondary-dark-1;
    border: 1px solid $border-light-grey;
    border-radius: 25px;
    position: relative;
    width: 320px;
    height: 450px;
    overflow: hidden;
    will-change: transform;

    &::before {
      /* Project Circle with Image of project before hover GLOBAL */
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: circle(150px at 80% 20%);
      transition: 0.55s ease-in-out;
    }

    &:hover::before {
      /* Project Circle with Image of project on hover - Circle will move to the left GLOBAL */
      clip-path: circle(300px at 80% -20%);
    }

    &--project1::before {
      /* Project 1 Image for Circle */
      background: url(/dtm85.github.io/media/images/projects/tea-station/main-bcg.png)
        center/cover no-repeat;
    }

    // &--project2::before {
    //   /* Project 2 Image for Circle */
    //   background: url(/dtm85.github.io/WIP/dtm_v2/media/images/projects/)
    //     center/cover no-repeat;
    // }

    // &--project3::before {
    //   /* Project 3 Image for Circle */
    //   background: url(/dtm85.github.io/WIP/dtm_v2/media/images/projects/)
    //     center/cover no-repeat;
    // }

    // &--project4::before {
    //   /* Project 4 Image for Circle */
    //   background: url(/dtm85.github.io/WIP/dtm_v2/media/images/projects/)
    //     center/cover no-repeat;
    // }

    // &--project5::before {
    //   /* Project 5 Image for Circle */
    //   background: url(/dtm85.github.io/WIP/dtm_v2/media/images/projects/)
    //     center/cover no-repeat;
    // }

    // &--project6::before {
    //   /* Project 6 Image for Circle */
    //   background: url(/dtm85.github.io/WIP/dtm_v2/media/images/projects/)
    //     center/cover no-repeat;
    // }

    // &--project7::before {
    //   /* Project 7 Image for Circle */
    //   background: url(/dtm85.github.io/WIP/dtm_v2/media/images/projects/)
    //     center/cover no-repeat;
    // }

    // &--project8::before {
    //   /* Project 8 Image for Circle */
    //   background: url(/dtm85.github.io/WIP/dtm_v2/media/images/projects/)
    //     center/cover no-repeat;
    // }

    &:hover &--project-content {
      /* Project Content moves up on Hover GLOBAL */
      height: 225px;
    }

    &--project-content {
      /* Project Card Content GLOBAL */
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 0.7s ease-in-out;
      z-index: 1;
      will-change: transform;

      &--h2 {
        font-size: 2rem;
        font-weight: 400;
        color: $clr-silver;
      }

      &--btn {
        /* View Project Button Styling GLOBAL */
        display: inline-block;
        padding: 10px 20px;
        color: $clr-primary-5;
        background: $clr-button-background-grey-alt;
        border-radius: 25px;
        margin-top: 1.5rem;
        opacity: 0;
        transition: 0.65s ease-in-out;
        transform: translateY(110px);
        letter-spacing: 1.5px;
        padding-top: 13px;

        &:hover {
          /* View Projects Button Styling on Hover GLOBAL */
          background: $clr-primary-5;
          color: $clr-button-hover-text-grey-alt;
          transition: 0.5s ease-in-out;
          box-shadow: 0 0 10px 2px $clr-primary-5;
          transform: scale(1.1);
        }
      }

      &--github-container {
        // margin-top: 20px;
        width: 100%;
        height: 30px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: 0.55s ease-in-out;
        transform: translateY(100px);

        &--github {
          // display: inline-block;
          background-color: skyblue;
          width: 30px;
          height: fit-content;
          color: silver;
          transition: 0.4s ease-in-out;

          &:hover {
            color: #6e5494;
            transition: 0.4s ease-in-out;
          }
        }
      }
    }

    &:hover &--project-content--btn {
      /* Project Card Hover - Styling for View Projects Button on Hover - Transition Effect GLOBAL */
      opacity: 1;
      transition: 0.5s ease-in-out;
      transform: translateY(0px);
    }
  }
}

///////////////////////////////////
// MEDIA QUERIES 4 PROJECT CARDS //
///////////////////////////////////
