.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 5rem [sidebar-end full-start] minmax(3.75rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 8.75rem) [col-end])
    [center-end] minmax(3.75rem, 1fr) [full-end];

  & > * {
    padding: 40px;
    font-size: 30px;
  }
}
