/* 
=====
Fonts
=====
*/

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/* 
=====
Reset 
=====
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
=========
Variables
=========
*/
:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #beed8c;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
=============
Global Styles
=============
*/

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.svg-icon-social {
  width: 30px;
  height: 30px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

/* 
======
Header
======
*/

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/projects/tea-station/media/images/main-bcg.jpg") center/cover
      no-repeat fixed;
  position: relative;
  /* Animation */
  overflow-x: hidden;
}

.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  /* Animation */
}

.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* Animation */
}

.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
}

/* Content Divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    #e9b949,
    var(--clr-primary)
  );
}

/* 
======
Skills
======
*/
.skills {
  background: var(--clr-grey-10);
}

.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}

.skill-icons {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  transition: var(--transition);
  display: inline-block;
  color: var(--clr-primary);
  width: 50px;
  height: 50px;
}

.skill-text {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}

.skill:hover {
  background: var(--clr-white);
  box-shadow: 0 2px var(--clr-primary);
}

.skill:hover .skill-icons {
  transform: translateY(-7.5px);
}

/* 
=====
About
=====
*/
.about-img,
.about-info {
  padding: 2rem 0;
}

.about-picture-container {
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  max-width: 30rem;
  overflow: hidden;
}

.about-picture {
  transition: var(--transition);
}

.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}

.about-text {
  max-width: 26rem;
  color: var(--clr-grey-5);
}

/* 
========
Products
========
*/
.products {
  background: var(--clr-grey-10);
}

.products article {
  padding: 2rem 0;
}

.product-text {
  color: var(--clr-grey-5);
  max-width: 26rem;
}

.product {
  margin-bottom: 2rem;
}

.product-img {
  border-radius: var(--radius);
  margin-bottom: 2rem;
  height: 17rem;
  object-fit: cover;
}

.product-price {
  color: var(--clr-primary);
}

/* 
========
Services
========
*/
.services-title {
  margin-top: 4rem;
  margin-bottom: -4rem;
  text-align: center;
}

.service-card {
  margin: 2rem 0;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: var(--transition);
}

.service-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.service-img {
  height: 17rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
}

.service-info p {
  max-width: 20rem;
  color: var(--clr-grey-5);
  margin: 0 auto;
}

.service-btn {
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 0.375rem 0.5rem;
  border-radius: var(--radius);
  font-weight: 400;
  margin-top: 1.25rem;
}

.service-img-container {
  position: relative;
}

.service-icons {
  padding: 0.35rem;
  margin-top: 0.25rem;
  margin-right: 0.05rem;
  margin-bottom: 0;
  /* width: 40px;
  height: 40px; */
}

.hot-tea {
  margin-left: 7px;
}

.service-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  /* font-size: -40rem; */
  color: var(--clr-primary);
  background: var(--clr-primary-light);
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  border: 0.375rem solid var(--clr-grey-10);
}

/* 
=======
Contact
=======
*/
.contact-icons {
  width: 25px;
  height: 25px;
}

.contact {
  background: var(--clr-grey-10);
}

.contact-form,
.contact-info {
  margin: 1rem 0;
}

.contact-item {
  margin-bottom: 1.75rem;
}

.contact-title {
  color: var(--clr-primary);
  font-weight: 400;
}

.contact-text {
  text-transform: uppercase;
}

.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: var(--transition);
  max-width: 35rem;
}

.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}

.form-group {
  padding: 1rem 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

/* 
======
Footer
======
*/
.footer {
  background: #222;
  text-align: center;
}

.social-icon {
  color: var(--clr-white);
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary);
}

.footer-text {
  margin-top: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-white);
  font-weight: 400;
}

.company {
  color: var(--clr-primary);
}

/* Hamburger Menu Container */
.nav-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

/* Menu Button Burger Styling*/
.menu-burger {
  width: 29px;
  height: 3.8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--clr-primary);
  transition: all 0.5s ease-in-out;
}

/* Menu Burger BEFORE & AFTER Elements */
.menu-burger::before,
.menu-burger::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 3.8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--clr-primary);
  transition: all 0.5s ease-in-out;
}

.menu-burger::before {
  transform: translateY(-11px);
}

.menu-burger::after {
  transform: translateY(11px);
}

/* Menu Button Burger ANIMATION */
.menu-btn.open .menu-burger {
  transform: translateX(-35px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-burger::before {
  transform: rotate(45deg) translate(25px, -25px);
}

.menu-btn.open .menu-burger::after {
  transform: rotate(-45deg) translate(25px, 25px);
}

/* 
=============
Media Queries
=============
*/
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95%;
    padding: 4rem 1rem;
  }
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }

  .about-info {
    padding: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .product {
    float: left;
    width: 50%;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .product {
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {
  .products-info {
    float: left;
    width: 30%;
  }

  .products-inventory {
    float: left;
    width: 70%;
  }

  .product {
    margin-bottom: 0;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .service-card {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 992px) {
  .service-card {
    width: 30%;
    margin-right: 3.333%;
  }
}

@media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  }
}
