@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port-1122px {
    @media (max-width: 70.125em) {
      @content;
    }
  }

  @if $breakpoint == tab-port-1140px {
    @media (max-width: 71.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-port-1024 {
    @media (max-width: 64em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == tab-land-1430px {
    @media (max-width: 89.375em) {
      @content;
    }
  }

  @if $breakpoint == tab-land-1500px {
    @media (max-width: 93.75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
