/* Reset */
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Neo Tech", sans-serif;
}

/* Font */
@font-face {
  font-family: "Neo Tech";
  src: url("/media/fonts/neotech.otf") format("opentype");
}

@font-face {
  font-family: "Neo Tech Black";
  src: url("/media/fonts/neotech-black.otf") format("opentype");
}

/* Scrollbar Color */
body {
  font-family: "Neo Tech", sans-serif;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  /* background: #00cbda; */
  background: #00a6ff56;
  color: transparent;
  border-radius: 8rem;
}
/* Scrollbar Color */

.hero-container {
  display: flex;
  top: 5vh;
  width: 85%;
  min-height: 30vh;
  margin: auto;
  align-items: center;
}

.glass-container {
  z-index: 100;
  /* background: lightblue; */
}

.video-background {
  z-index: -2;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29, 0.65);
  mix-blend-mode: overlay;
}

.nav-container {
  z-index: 99999;
  position: fixed;
  background: #000107;
  top: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
}

.logo-container,
.nav-links {
  display: flex;
}

.logo-container {
  flex: 2.5;
}

.logo {
  margin-left: 130px;
  font-family: "Neo Tech";
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
}

nav {
  flex: 2.5;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #fefefe;
  font-size: 1.3rem;
  text-decoration: none;
}

/* Start HERE -- figure out why content displays as rows when columns are selected */
.content-container {
  display: flex;
  position: relative;
  top: 5vh;
  margin-top: 3%;
  padding: 1.5rem;
  color: #fff;
  font-size: 1.5em;
  line-height: 1em;
  /* overflow: hidden; */
}

.content-container h2 {
  position: relative;
  font-size: 2.3em;
  line-height: 1em;
}

p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* .social-container {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vh;
  
}

.social-icons {
  display: flex;
  flex: 1;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: flex;
  filter: invert(1);
  transform: scale(0.25);
  transition: 0.3s;
}

.social-icons li a:hover {
  transform: scale(0.25) translateY(-25px);
} */

/* Footer */

/* @media (min-aspect-ratio: 16/9) {
  .video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
  }
} */
