/*
=====
Fonts
=====
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=========
Variables
=========
*/

:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: #155f9c; */
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============
Global Styles
=============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */

/*
======
Navbar
======
*/
.nav-links {
  display: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-btn {
  cursor: pointer;
  justify-self: self-end;
}

/*
=======
Sidebar
=======
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--clr-primary-5);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 23rem;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1.75rem;
}

.social-icon {
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-5);
}

/*
====
Hero
====
*/
/* underline added to globals */

/*
=====
About
=====
*/
/* section title added to globals */

/*
========
Services
========
*/
/* small screen layout setup */
/* bg-grey in globals */

/*
======== 
Projects
========
*/

/*
=======
Connect
=======
*/

/*
======
Skills
======
*/
/*
======== 
Timeline
========
*/

/*
==== 
Blog
====
*/

/*
======
Footer
======
*/
/*
=========== 
Single Page
===========
*/

/*
============= 
Products Page
=============
*/

/*
============= 
Media Queries
=============
*/

/******* Global *******/
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/******* Navbar *******/

@media screen and (min-width: 768px) {
  .nav {
    background: var(--clr-primary-10);
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--clr-primary-5);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (max-width: 766px) {
  .navbar {
    box-shadow: 0 2px 6px 1px var(--clr-primary-1);
    background: var(--clr-grey-4);
  }

  /* Hamburger Menu Container */
  .nav-btn {
    width: 1.75rem;
    height: 1.75rem;
    position: relative;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
    z-index: 2;
  }

  .nav-btn:hover {
    transform: scale(1.2);
  }

  /* Menu Button Burger Styling*/
  .menu-burger {
    width: 1.75rem;
    height: 3.8px;
    background: var(--clr-primary-5);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--clr-grey-5);
    transition: var(--transition);
  }

  /* Menu Burger BEFORE & AFTER Elements */
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    width: 1.75rem;
    height: 3.8px;
    background: var(--clr-primary-5);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--clr-grey-5);
    transition: var(--transition);
  }

  .menu-burger::before {
    transform: translateY(-11px);
  }

  .menu-burger::after {
    transform: translateY(11px);
  }

  /* Menu Button Burger ANIMATION */
  .nav-btn.open .menu-burger {
    transform: translateX(35px);
    background: transparent;
    box-shadow: none;
  }

  .nav-btn.open .menu-burger::before {
    transform: rotate(45deg) translate(-25px, 25px);
    background: #f29c9c;
  }

  .nav-btn.open .menu-burger::after {
    transform: rotate(-45deg) translate(-25px, -25px);
    background: #f29c9c;
  }

  .nav-btn.open .menu-burger:hover::after {
    background: #c40000;
  }

  .nav-btn.open .menu-burger:hover::before {
    background: #c40000;
  }
}
