*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;
  font-size: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-4 {
  font-size: 1.1875rem;
}

.heading-4--light {
  color: #f9f7f6;
}

.heading-4--dark {
  color: #54483a;
}

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15.625rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 3.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  row-gap: 0.9375rem;
  -webkit-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.feature__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  fill: #c69963;
  width: 2.8125rem;
  height: 2.8125rem;
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

.feature__text {
  font-size: 1.0625rem;
}

.footer {
  background: #101d2c;
  grid-column: full-start / full-end;
}

.gallery {
  background: #54483a;
  grid-column: full-start / full-end;
}

.header {
  background: #54483a;
  grid-column: full-start / col-end 6;
}

.realtors {
  background: #101d2c;
  grid-column: col-start 7 / full-end;
}

.homes {
  background: #101d2c;
  grid-column: center-start / center-end;
}

.sidebar {
  background: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}

.story__pictures {
  background: #c69963;
  grid-column: full-start / col-end 4;
}

.story__content {
  background: #f9f7f6;
  grid-column: col-start 5 / full-end;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
      grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(3.75rem, 1fr) [center-start] ([col-start] minmax(min-content, 8.75rem) [col-end])[8] [center-end] minmax(3.75rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 8.75rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8.75rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end];
}
