/////////////////////////////////////
// BREAKPOINTS
@mixin respond($breakpoint) {
  @if $breakpoint == bp-largest-1200 {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == bp-large-1100 {
    @media only screen and (max-width: 68.75em) {
      @content;
    }
  }

  @if $breakpoint == bp-large-1000 {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }

  @if $breakpoint == bp-medium-600 {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == bp-small-500 {
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }
}
