/*
=========
Variables
=========
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #733d0d;
  --clr-primary-2: #924d10;
  --clr-primary-3: #b05d14;
  --clr-primary-4: #cf6d17;
  /* primary/main color */
  --clr-primary-5: #e67e22;
  /* lighter shades of primary color */
  --clr-primary-6: #e99041;
  --clr-primary-7: #eda25f;
  --clr-primary-8: #f0b37e;
  --clr-primary-9: #f4c59c;
  --clr-primary-10: #f7d7bb;
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/* 
=============
Global Styles
=============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
===========
Basic Setup
===========
*/
body {
  overflow: overlay;
  overflow-x: hidden;
}

html {
  background: var(--clr-white);
  color: var(--clr-grey-7);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* 
==========
Scrollbars
==========
*/
/* Body Scrollbar color */
body::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: none;
  margin-top: 8rem;
  margin-bottom: 1px;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-primary-5);
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-7);
  border-radius: 8rem;
}

/* 
===================
Reusable Components
===================
*/
/* ---------- Nav Logo ---------- */
.nav-logo {
  width: 100px;
}

/* ---------- Hero Buttons ---------- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: var(--transition);
}

.btn-full:link,
.btn-full:visited {
  background: var(--clr-primary-5);
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-white);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-primary-5);
}

.btn:hover,
.btn:active {
  background: var(--clr-primary-4);
  transition: var(--transition);
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid var(--clr-primary-4);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-white);
}

/* 
======
Header
======
*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../media/images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: relative;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1 {
  color: var(--clr-white);
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-bottom: 20px;
}

/* 
======
Navbar
======
*/
.nav-links {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
  z-index: 10;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-btn {
  cursor: pointer;
  justify-self: self-end;
}

/* Fixed Navbar */
.navbar-fixed {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
}

/* ---------- Logo ---------- */

/* ---------- Navbar ---------- */

/*
=======
Sidebar
=======
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
  z-index: 11;
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--clr-primary-5);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 23rem;
  grid-template-columns: repeat(7, 1fr);
  -moz-column-gap: 1.75rem;
  column-gap: 1.75rem;
}

.social-icon {
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-5);
}

/*
============= 
Media Queries
=============
*/

/******* Global *******/
@media screen and (min-width: 676px) {
}

@media screen and (max-width: 676px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (max-width: 800px) {
}

/******* Navbar *******/

@media screen and (min-width: 950px) {
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--clr-primary-5);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (max-width: 949px) {
  .navbar {
    box-shadow: 0 2px 6px 1px var(--clr-primary-1);
    background: var(--clr-grey-4);
  }

  /* Hamburger Menu Container */
  .nav-btn {
    width: 1.75rem;
    height: 1.75rem;
    position: relative;
    margin-right: 1rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
    z-index: 100;
  }

  .nav-btn:hover {
    transform: scale(1.2);
  }

  /* Menu Button Burger Styling*/
  .menu-burger {
    width: 1.75rem;
    height: 3.8px;
    background: var(--clr-primary-5);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--clr-grey-5);
    transition: var(--transition);
  }

  /* Menu Burger BEFORE & AFTER Elements */
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    width: 1.75rem;
    height: 3.8px;
    background: var(--clr-primary-5);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--clr-grey-5);
    transition: var(--transition);
  }

  .menu-burger::before {
    transform: translateY(-11px);
  }

  .menu-burger::after {
    transform: translateY(11px);
  }

  /* Menu Button Burger ANIMATION */
  .nav-btn.open .menu-burger {
    transform: translateX(35px);
    background: transparent;
    box-shadow: none;
  }

  .nav-btn.open .menu-burger::before {
    transform: rotate(45deg) translate(-25px, 25px);
    background: #f29c9c;
  }

  .nav-btn.open .menu-burger::after {
    transform: rotate(-45deg) translate(-25px, -25px);
    background: #f29c9c;
  }

  .nav-btn.open .menu-burger:hover::after {
    background: #c40000;
  }

  .nav-btn.open .menu-burger:hover::before {
    background: #c40000;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1170px) {
}
