/*
=========
Variables
=========
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #733d0d;
  --clr-primary-2: #924d10;
  --clr-primary-3: #b05d14;
  --clr-primary-4: #cf6d17;
  /* primary/main color */
  --clr-primary-5: #e67e22;
  /* lighter shades of primary color */
  --clr-primary-6: #e99041;
  --clr-primary-7: #eda25f;
  --clr-primary-8: #f0b37e;
  --clr-primary-9: #f4c59c;
  --clr-primary-10: #f7d7bb;
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --primary-3-shadow: 0 0 14px 4px #b05d14;
  --primary-4-card-shadow: 0 0 10px 0.25px #b05d14;
  --max-width: 1170px;
}

/* 
=============
Global Styles
=============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
===========
Basic Setup
===========
*/
body {
  overflow: overlay;
  overflow-x: hidden;
}

html {
  background: var(--clr-white);
  color: var(--clr-grey-7);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 0.85;
  margin-bottom: 0.85rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 0.75rem;
}
h4 {
  font-size: 0.5rem;
}
body {
  font-size: 0.75rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/* 
==========
Scrollbars
==========
*/
/* Body Scrollbar color */
body::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: none;
  margin-top: 7rem;
  margin-bottom: 1px;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-primary-5);
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-7);
  border-radius: 8rem;
}

/* 
===================
Reusable Components
===================
*/
/* ---------- Nav Logo ---------- */
.nav-logo {
  width: 100px;
}

/* ---------- Buttons ---------- */
.btn {
  margin-top: 0.35rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: var(--transition);
}

.btn-full:link,
.btn-full:visited {
  background: var(--clr-primary-5);
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-white);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-primary-5);
}

.btn:hover,
.btn:active {
  background: var(--clr-primary-3);
  transition: var(--transition);
  transform: scale(1.0575);
  box-shadow: var(--primary-3-shadow);
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid var(--clr-primary-3);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid var(--clr-primary-3);
  color: var(--clr-white);
}

/* ---------- Section ---------- */
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* @media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
} */

/* Underline */
.underline {
  width: 5.5rem;
  height: 0.25rem;
  margin: 2rem auto;
  background: var(--clr-primary-5);
}

.section-title {
  margin: 4rem 0;
  text-align: center;
  color: var(--clr-primary-3);
}

.bg-grey {
  background: var(--clr-grey-10);
}

/* 
======
Header
======
*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../media/images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-center {
  min-height: 100vh;
  grid-template-columns: 1fr;
  display: grid;
  place-items: center;
}

.hero-info h1 {
  font-weight: bolder;
}

.h1-btm-margin {
  margin-bottom: 2rem;
}

header h1 {
  color: var(--clr-white);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-bottom: 20px;
}

/* 
======
Navbar
======
*/
.nav-links {
  display: none;
}

.nav-links a {
  transition: var(--transition);
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
  z-index: 10;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-btn {
  cursor: pointer;
  justify-self: self-end;
}

/* Fixed Navbar */
.navbar-fixed {
  background: #2f2f2f;
  box-shadow: var(--dark-shadow);
}

/* ---------- Logo ---------- */

/* ---------- Navbar ---------- */

/*
=======
Sidebar
=======
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
  z-index: 11;
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  width: 100vw;
  text-align: center;
}

.sidebar-links a {
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--clr-primary-5);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 23rem;
  grid-template-columns: repeat(7, 1fr);
  -moz-column-gap: 1.75rem;
  column-gap: 1.75rem;
}

.social-icon {
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-5);
}

/*
========
Featured
========
*/
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.featured h3 {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--clr-primary-3);
}

.featured p {
  line-height: 1.15rem;
  letter-spacing: 0.45px;
  font-size: 0.8364rem;
}

.long-copy {
  line-height: 1.7rem;
  font-size: 1.1rem;
  width: 70%;
  margin: 3rem auto 0 auto;
}

.featured {
  margin-bottom: 5rem;
  background: var(--clr-grey-10);
  padding: 2rem 1.5rem 1.25rem 1.5rem;
  border-radius: var(--radius);
  text-align: center;
  transition: var(--transition);
}

.featured:hover {
  box-shadow: var(--primary-4-card-shadow);
  transform: scale(1.05);
}

.icon-big {
  font-size: 4rem;
  color: var(--clr-primary-5);
  margin-bottom: 1rem;
}

/*
===== 
Meals
=====
*/
.section-meals {
  margin-bottom: 5rem;
}

.add-2-cart {
  font-size: 3rem;
}

.meal-img-container {
  position: relative;
  background: var(--clr-primary-5);
  overflow: hidden;
}

.meal-img-container:hover img {
  transform: scale(1.15);
  transition: var(--transition);
}

.meal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-white);
  opacity: 0;
  cursor: pointer;
  transition: var(--transition);
}

.meal-img {
  display: flex;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: var(--transition);
}

.meal-img-container:hover .meal-img {
  opacity: 0.6;
  /* transform: scale(1.1); */
}

.meal-img-container:hover .meal-icon {
  opacity: 1;
}

/*
===== 
Steps
=====
*/
.section-steps {
  margin-bottom: 5rem;
}

.section-steps-container {
  display: grid;
  grid-template-columns: 1fr auto;
  /* place-items: center; */
  margin-top: 3rem;
}

.iphone {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.app-screen {
  width: 230px;
  height: auto;
}

.steps {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

.steps p {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin: auto 0.5rem;
}

.steps div {
  color: var(--clr-primary-5);
  border: 2px solid var(--clr-primary-5);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

/*
======
Footer
======
*/
.footer {
  padding-bottom: 2rem;
  background: #222;
  display: grid;
  place-items: center;
}

.footer .social-icons {
  margin-bottom: 2rem;
}

.footer .social-icon {
  color: var(--clr-primary-5);
}

.footer .social-icon:hover {
  color: var(--clr-primary-8);
}

.footer p {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.john-white {
  color: var(--clr-white);
  font-weight: bold;
}

.doe-primary-5 {
  color: var(--clr-primary-5);
  font-weight: bold;
}

/*
============= 
Media Queries
=============
*/

/******* Global *******/
@media screen and (max-width: 676px) {
  .hero-info h1 {
    font-size: 1.75rem;
  }

  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

@media screen and (max-width: 506px) {
  .hero-info h1 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 382px) {
  .hero-info h1 {
    font-size: 1.22rem;
  }
}

@media screen and (min-width: 912px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.75rem;
  }
  body {
    font-size: 0.85rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .section-title p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 912px) {
  .section-features .section-title h2 {
    font-size: 1.5rem;
  }

  .underline {
    width: 4.5rem;
    height: 0.215rem;
  }

  .section-title p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }

  .featured {
    margin-bottom: 0;
  }

  .section-features {
    padding-bottom: 5rem;
  }

  /* .section-center {
    width: 90vw;
  } */
}

@media screen and (max-width: 676px) {
  .section-features .section-title h2 {
    font-size: 1.25rem;
  }

  .underline {
    width: 3.5rem;
    height: 0.175rem;
  }

  .section-title p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 472px) {
  .section-features .section-title h2 {
    font-size: 0.93rem;
  }

  .underline {
    width: 2.75rem;
    height: 0.125rem;
  }

  .section-title p {
    font-size: 0.815rem;
  }
}

@media screen and (max-width: 800px) {
  .features {
    grid-template-columns: 1fr;
    /* row-gap: 1rem; */
  }
}

/******* Navbar *******/

@media screen and (min-width: 800px) {
  .nav-links {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    justify-self: flex-end;
    position: relative;
    margin-right: 0.5rem;
  }

  .nav-link {
    position: relative;
    text-transform: uppercase;
    color: var(--clr-white);
    font-weight: bold;
    letter-spacing: var(--spacing);
    padding-bottom: 8px;
  }

  .nav-link::after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--clr-primary-5);
    content: "";
    transform: scaleY(0);
    transform-origin: top center;
    transition: var(--transition);
  }

  .nav-link:hover::after {
    transform: scaleY(1);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .meals-container {
    display: flex;
    flex-wrap: wrap;
  }

  .meal-img-container {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 799px) {
  .navbar {
    box-shadow: 0 2px 6px 1px var(--clr-primary-1);
    background: var(--clr-grey-4);
  }

  /* Hamburger Menu Container */
  .nav-btn {
    width: 2rem;
    height: 2rem;
    position: relative;
    margin-right: 0.25rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
    z-index: 100;
  }

  .nav-btn:hover {
    transform: scale(1.2);
  }

  /* Menu Button Burger Styling*/
  .menu-burger {
    width: 1.7rem;
    height: 4px;
    background: var(--clr-primary-5);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--clr-grey-5);
    transition: var(--transition);
  }

  /* Menu Burger BEFORE & AFTER Elements */
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    width: 1.7rem;
    height: 4px;
    background: var(--clr-primary-5);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--clr-grey-5);
    transition: var(--transition);
  }

  .menu-burger::before {
    transform: translateY(-11px);
  }

  .menu-burger::after {
    transform: translateY(11px);
  }

  /* Menu Button Burger ANIMATION */
  .nav-btn.open .menu-burger {
    transform: translateX(35px);
    background: transparent;
    box-shadow: none;
  }

  .nav-btn.open .menu-burger::before {
    transform: rotate(45deg) translate(-25px, 25px);
    background: #f29c9c;
  }

  .nav-btn.open .menu-burger::after {
    transform: rotate(-45deg) translate(-25px, -25px);
    background: #f29c9c;
  }

  .nav-btn.open .menu-burger:hover::after {
    background: #c40000;
  }

  .nav-btn.open .menu-burger:hover::before {
    background: #c40000;
  }

  .meal-img-container {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1170px) {
  .meal-img-container {
    flex: 0 0 25%;
  }
}
