/* Font */
@font-face {
  font-family: "Neo Tech";
  src: url("/media/fonts/neotech.otf") format("opentype");
}

@font-face {
  font-family: "Neo Tech Black";
  src: url("/media/fonts/neotech-black.otf") format("opentype");
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Neo Tech", sans-serif;
  color: #2e2e2e;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}

h1,
h2 {
  font-family: "Neo Tech";
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Nav */
.navbar {
  background-color: #000107;
  color: #fff;
  height: 5.5vh;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 25px;
}

.navbar a:hover {
  color: #00eeff;
  border-bottom: 2px #00eeff solid;
  transition: 0.25s all ease-in-out;
}

.navbar .flex {
  justify-content: space-between;
}

.menu-button {
  color: #fff;
  font-size: 23px;
  display: none;
}

/* Utilities */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-background {
  z-index: -2;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29, 0.65);
  mix-blend-mode: overlay;
}

/* Responsive Media Query */
@media (max-width: 789px) {
  .menu-button {
    cursor: pointer;
    display: block;
    z-index: 999;
  }

  .menu-button i.active::before {
    content: "\f00d";
  }

  nav {
    border-radius: 48px;
  }

  .navbar ul {
    position: fixed;
    height: 94vh;
    width: 83vh;
    right: -120%;
    top: 0;
    background: #2e2e2e2b;
    flex-direction: column;
    align-items: center;
    margin-top: 5.5vh;
    padding-top: 80px;
    transition: 0.5s all ease-in-out;
    border-radius: 20px;
  }

  .navbar ul.active {
    right: 0;
  }

  .navbar ul li a {
    font-size: 1.5rem;
    display: flex;
    margin: 25px;
  }

  .navbar a:hover {
    color: #00eeff;
    border-bottom: none;
  }
}
