/////////////
// BUTTONS //
/////////////

/* 
====================
Navbar - Menu Button
====================
*/

/* Menu Button Styling */
.navbar__menu-btn {
  width: 2rem;
  height: 2rem;
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: $transition;
  z-index: 100;

  &:hover {
    transform: scale(1.3);
  }

  &--menu-burger {
    /* Menu Burger (Bars) Styling */
    width: 2rem;
    height: 3.85px;
    background: $clr-primary-5;
    border-radius: 5px;
    box-shadow: 0 1px 4px 1px $clr-grey-6;
    transition: $transition;

    &::before,
    &::after {
      /* Menu Burger BEFORE & AFTER Elements */
      content: "";
      position: absolute;
      width: 2rem;
      height: 3.85px;
      background: $clr-primary-5;
      border-radius: 5px;
      box-shadow: 0 1px 4px 1px $clr-grey-6;
      transition: $transition;
    }

    &::before {
      /* Menu Bar Translate (Neg) */
      transform: translateY(-11px);
    }

    &::after {
      /* Menu Bar Translate (Pos) */
      transform: translateY(11px);
    }
  }

  &.navbar__menu-btn.open .navbar__menu-btn--menu-burger {
    /* Menu.open class for JavaScript */
    transform: translateX(35px);
    background: transparent;
    box-shadow: none;
  }

  &.navbar__menu-btn.open .navbar__menu-btn--menu-burger::before {
    /* Menu bar rotate (pos) BEFORE & Color */
    transform: rotate(45deg) translate(-25px, 25px);
    background: #f29c9c;
  }

  &.navbar__menu-btn.open .navbar__menu-btn--menu-burger::after {
    /* Menu bar rotate (neg) AFTER & Color */
    transform: rotate(-45deg) translate(-25px, -25px);
    background: #f29c9c;
  }

  &.navbar__menu-btn.open .navbar__menu-btn--menu-burger:hover::after {
    /* Menu bars HOVER Color After Element */
    background: #c40000;
  }

  &.navbar__menu-btn.open .navbar__menu-btn--menu-burger:hover::before {
    /* Menu bars HOVER Color Before Element */
    background: #c40000;
  }
}

.hire-me {
  display: inline-flex;
  font-size: 1.1em;
  font-weight: 400;
  background: gray;
  color: $clr-primary;
  padding: 13px 30px 9.5px 30px;
  margin-top: 30px;
  letter-spacing: 1.5px;
  transition: $transition;
  border-radius: 6px;
  outline: none;
  box-shadow: none;

  // Change for the <button> element
  border: none;
  cursor: pointer;

  &:hover {
    letter-spacing: 3px;
    background: #00eeff;
    color: rgb(71, 71, 71);
    transform: scale(1.05);
    transition: $transition;
    box-shadow: 0 0 10px 2px #00eeff;
    transform: translateY(-3px);

    &:active {
      transform: translateY(-1px);
    }
  }
}
.submit {
  display: inline-flex;
  font-size: 1.1em;
  font-weight: 400;
  background: gray;
  color: $clr-primary;
  padding: 13px 30px 9.5px 30px;
  margin-top: 30px;
  letter-spacing: 1.5px;
  transition: $transition;
  border-radius: 6px;
  outline: none;
  box-shadow: none;

  // Change for the <button> element
  border: none;
  cursor: pointer;

  &:hover {
    letter-spacing: 3px;
    background: #00eeff;
    color: rgb(71, 71, 71);
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px #00eeff;
  }
}
