.section-about {
  background: $clr-grey-light-1;
  padding: 17rem 0;
  margin-top: -20vh;

  @include respond(tab-land-1430px) {
    padding: 15rem 3.75rem;
  }

  @include respond(tab-land) {
    padding: 15rem 3.75rem;
  }

  @include respond(tab-port) {
    padding: 15rem 0;
  }

  @include respond(phone) {
    .heading-secondary {
      padding: 0 auto;
    }
  }
}

.section-features {
  margin-top: -7.35rem;
  padding: 12.5rem 0;
  background: linear-gradient(
      to right bottom,
      rgba($clr-home-page-light, 0.8),
      rgba($clr-home-page-dark, 0.8)
    ),
    url(../media/images/nat-4.jpg) top center/cover no-repeat;
  transform: skewY(-7.75deg);

  & > * {
    transform: skewY(7.75deg);
  }

  @include respond(tab-port-1140px) {
    padding: 7rem 1.75rem;
  }

  @include respond(tab-port) {
    padding: 7rem 0;
  }
}

.section-tours {
  background: $clr-grey-light-1;
  padding: 17rem 0 9.375rem 0;
  margin-top: -8.5rem;

  @include respond(tab-port) {
    padding: 16rem 0 8rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 9.375rem 0;

  @include respond(tab-port) {
    padding: 6.25rem 0;

    .heading-secondary {
      padding: 0 2.5rem;
    }
  }
}

.section-book {
  padding: 9.375rem 0;
  background-image: linear-gradient(
    to right bottom,
    $clr-home-page-light,
    $clr-home-page-dark
  );

  @include respond(tab-port) {
    padding: 6.25rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($clr-white, 0.9) 0%,
      rgba($clr-white, 0.9) 49.9%,
      transparent 50%
    ),
    url(../media/images/nat-10.jpg);
  background-size: 100%;
  border-radius: 0.375rem;
  box-shadow: 0 0.9375rem 2.5rem rgba($clr-black, 0.35);
  height: auto;

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($clr-white, 0.9) 0%,
        rgba($clr-white, 0.9) 64.9%,
        transparent 65%
      ),
      url(../media/images/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($clr-white, 0.9) 0%,
        rgba($clr-white, 0.9) 100%
      ),
      url(../media/images/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 3.75rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
      padding: 3rem;
    }
  }
}
