///////////
// FORMS //
///////////

.form {
  padding: 1.5rem 2rem;
  transition: $transition;

  @include respond(bp-large-1100) {
    padding: 1.5rem 1rem;
  }

  @include respond(bp-medium-900) {
    padding: 1.5rem 2rem;
  }

  @include respond(bp-medium-650) {
    padding: 1.5rem 1rem;
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input:not(.form__input--message) {
    height: 3rem;
  }

  &__input {
    width: 100%;
    display: block;
    font-size: 1rem;
    font-family: "NeoTech";
    // font-weight: 300;
    letter-spacing: 2px;
    padding: 1.5rem 2rem;
    border-radius: $radius;
    color: $clr-secondary;
    background-color: rgba($clr-white, 0.5);
    border: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: $transition;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($clr-black, 0.1);
      border-bottom: 3px solid $clr-primary-5;
    }

    &:focus::target-text {
      position: relative;
      top: 14px;
    }

    &:focus:invalid {
      border-bottom: 3px solid $clr-invalid-1;
    }

    &:focus:valid {
      border-bottom: 3px solid $clr-valid-1;
    }

    &::-webkit-input-placeholder {
      position: relative;
      top: 3px;
      color: rgba($clr-secondary, 0.25);
    }
  }

  &__input:-webkit-autofill,
  &__input:-webkit-autofill:hover,
  &__input:-webkit-autofill:focus,
  &__input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $clr-secondary !important;
  }

  &__label {
    color: rgba($clr-secondary, 1);
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: $transition;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2.25rem);
  }

  &__btn {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: end;
  }
}
