/////////////////////
// CONTACT SECTION //
/////////////////////
/* 
=======
CONTACT
=======
*/
.contact {
  /* Contact Section */
  // background: $clr-primary-9;
  grid-column: full-start / full-end;
  // padding: 9.375rem 0;
  margin: 3rem auto;
  // width: 100%;

  @include respond(bp-medium-900) {
    padding: 6.25rem 0;
  }

  &__container-background {
    /* Contact Glass Container */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(
      to top left,
      $background-card-dark-grey 1%,
      #0e0e0e00 70%
    );
    box-shadow: $box-shadow;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 3.5rem 0;
    position: relative;
    overflow: hidden;

    &--email-svg {
      /* Email SVG - Background */
      fill: rgba(192, 192, 192, 0.1);
      position: absolute;
      left: -50px;
      bottom: -50px;
      width: 35rem;
      height: 35rem;
      z-index: -1;
    }
  }

  &__wrapper {
    /* Contact Info & Message Wrapper */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
  }

  &__connect {
    /* Contact Info */
    display: flex;
    width: 75%;
  }

  &__title {
    /* h2 Header */
    color: $clr-primary-5;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__description {
    /* Header Description */
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 2px;
    color: $clr-text;
  }

  &__phone,
  &__email,
  &__location {
    display: flex;
    align-items: center;
    padding: 1.2rem 0 1.2rem 2rem;
  }

  &__phone--svg {
    /* Flipped SVG by 90deg so that the phone is faceing towards the numbers */
    transform: rotate(90deg);
  }

  &__phone--svg,
  &__email--svg,
  &__location--svg {
    /* SVG Color, Width & Height */
    width: 1.25rem;
    height: 1.25rem;
    color: $clr-primary-5;
  }

  &__phone--h4,
  &__email--link,
  &__location--h4 {
    /* Padding, font-weight & color of text in the info section */
    padding-left: 0.7rem;
    font-weight: 400;
    color: $clr-text;
  }

  &__email--link {
    /* Email link text color */
    color: $clr-text;
    transition: $transition;

    &:hover {
      color: rgb(148, 148, 255);
    }
  }

  &__location--h4 {
    /* Extra padding on the top to help make the text be more centered as align-items: center; did not center 100% */
    padding-top: 0.25rem;
  }

  &__social {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: fit-content;
  }

  &__link {
    display: inline-flex;

    &--linkedin {
      display: flex;
      transition: $transition;
      color: #0e76a8;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.4);
      }
    }

    &--twitter {
      transition: $transition;
      color: #08a0e9;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.4);
      }
    }

    &--discord {
      transition: $transition;
      color: #7289da;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.4);
      }
    }

    &--microsoft-teams {
      transition: $transition;
      color: #6264a7;
      width: 2rem;
      height: 2rem;

      &:hover {
        transform: scale(1.4);
      }
    }
  }

  &__message {
    /* Message - Submit Form */
    height: 40rem;
    width: 90%;
    background: linear-gradient(
      135deg,
      $clr-grey-dark-1 0%,
      $clr-grey-dark-2 100%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 8px 3px $clr-grey-dark-2;
    border: 1px solid $border-light-grey;
    border-radius: 10px;
    z-index: 2;
  }
}
