/////////////////////
// CONTACT SECTION //
/////////////////////
/* 
=======
CONTACT
=======
*/
.contact {
  // background: $clr-primary-9;
  grid-column: full-start / full-end;
  // padding: 9.375rem 0;
  margin: 3rem auto;

  @include respond(bp-medium-900) {
    padding: 6.25rem 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(39, 39, 39, 0.95);
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 4rem;

    &--social-media {
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        $clr-grey-dark-2 1%,
        /* #ddfdfd3f 1%, */ #0e0e0e00 50%
      );
      box-shadow: 0 0 8px 3px $clr-grey-dark-2;
      border: 1px solid $border-light-grey;
      border-radius: 10px;
    }

    &--message {
      background: radial-gradient(
        circle farthest-corner at 100% 100%,
        $clr-grey-dark-2 1%,
        /* #ddfdfd3f 1%, */ #0e0e0e00 50%
      );
      box-shadow: 0 0 8px 3px $clr-grey-dark-2;
      border: 1px solid $border-light-grey;
      border-radius: 10px;
    }
  }
}
