/////////////////////
// CONTACT SECTION //
/////////////////////
/* 
=======
CONTACT
=======
*/
.contact {
  /* Contact Section */
  // background: $clr-primary-9;
  grid-column: full-start / full-end;
  // padding: 9.375rem 0;
  margin: 3rem auto;
  // width: 100%;

  @include respond(bp-medium-900) {
    padding: 6.25rem 0;
  }

  &__container {
    /* Contact Glass Container */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(
      to top left,
      $background-card-dark-grey 1%,
      #0e0e0e00 70%
    );
    box-shadow: $box-shadow;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 14rem 0;
    position: relative;
    overflow: hidden;

    &--email-svg {
      /* Email SVG - Background */
      fill: rgba(192, 192, 192, 0.1);
      position: absolute;
      left: -85px;
      bottom: 50;
      width: 25rem;
      height: 25rem;
      z-index: -1;
    }

    &--wrapper {
      /* Contact Info & Message Wrapper */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // column-gap: 14rem;
      justify-content: center;
      justify-items: center;

      &--contact {
        /* Contact Info */
        height: 90%;
        width: 90%;
        z-index: 2;
      }

      &--message {
        /* Message - Submit Form */
        height: 90%;
        width: 90%;
        background: linear-gradient(
          135deg,
          $clr-grey-dark-1 0%,
          $clr-grey-dark-2 100%
        );
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 0 8px 3px $clr-grey-dark-2;
        border: 1px solid $border-light-grey;
        border-radius: 10px;
        z-index: 2;
      }
    }
  }
}
