////////////////////
// FOOTER SECTION //
////////////////////
/*
======
FOOTER
======
*/
.footer {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    to top,
    $background-card-dark-grey 1%,
    #0e0e0e00 70%
  );
  box-shadow: 0 2px 12px 1px $clr-primary-8;
  grid-column: full-start / full-end;
  height: 5rem;
  margin-top: 5rem;

  &__logo {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: $clr-text;
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 2rem;

    &--tech-media {
      font-weight: 500;
      color: $clr-primary-5;
    }
  }

  &__legal {
    font-weight: 300;

    &--tech-media {
      font-weight: 500;
      color: $clr-primary-5;
    }
  }
}
