////////////////////
// HEADER SECTION //
////////////////////
/* 
======
HEADER
======
*/
.header {
  grid-column: full-start / full-end;

  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  @include respond(bp-medium-950) {
    /* Breakpoint for mobile */
    grid-template-columns: 1fr;
  }

  &__hero-text {
    font-weight: 300;
    margin: 0 5rem 0 3rem;

    @include respond(bp-medium-950) {
      /* Breakpoint for mobile */
      margin: auto;
    }
  }

  &__logo {
    font-weight: 300;
    font-size: 5rem;
    line-height: 1.7;
    transition: $transition;
    color: $clr-text;

    @include respond(bp-medium-767-maxwidth) {
      font-size: 3.5rem;
    }

    &--tech-media {
      font-weight: 500;
      color: $clr-primary-5;
    }
  }

  &__description {
    font-weight: 400;
    color: silver;
    font-size: 2.4rem;
    margin-bottom: 3.5rem;

    @include respond(bp-medium-767-maxwidth) {
      font-size: 1.5rem;
    }

    @include respond(bp-small-500) {
      &--breakpoint {
        line-height: 1.8;
        display: block;
      }
    }

    &--typewriter {
      /* Span for typewriter text  */
      color: $clr-primary-5;
      position: absolute;
      margin-left: 10px;
      font-weight: 700;
    }

    .header__description--typewriter > .txt {
      /* Cursor for typewriter text */
      border-right: 0.19rem solid chartreuse;
      padding: 2.5px 0;
    }
  }

  &__social-wrapper {
    line-height: 1;
    position: fixed;
    top: 60%;
    margin-left: 10px;
    left: 0;

    @include respond(bp-medium-950) {
      margin-left: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      top: 0%;
      margin-top: 5rem;
    }
  }

  &__social-icons {
    display: block;
    transition: $transition;

    @include respond(bp-medium-950) {
      display: flex;
      // grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: center;
      column-gap: 2rem;
    }
  }

  &__social-item {
    width: 0;
    height: 0;
    margin-top: 3.5rem;

    @include respond(bp-medium-950) {
      margin-top: 0;
      height: fit-content;
      width: 100%;
    }
  }

  // &__social-link--svg {
  //   display: block;
  //   margin: 0;
  //   transition: $transition;

  //   &:hover {
  //     color: $clr-primary-5;
  //   }
  // }

  &__social-link {
    display: inline-flex;
    transition: $transition;

    &:hover {
      transform: scale(1.2);
    }

    &--email {
      width: 1.875rem;
      height: 1.875rem;
      color: $clr-grey-3;
    }

    &--github {
      width: 1.875rem;
      height: 1.875rem;
      color: $clr-github;
    }

    &--twitter {
      width: 1.875rem;
      height: 1.875rem;
      color: $clr-twitter;
    }

    &--linkedin {
      width: 1.875rem;
      height: 1.875rem;
      color: $clr-twitter;
    }

    &--discord {
      width: 1.875rem;
      height: 1.875rem;
      color: $clr-discord;
    }

    &--microsoft-teams {
      width: 1.875rem;
      height: 1.875rem;
      color: $clr-microsoft-teams;
    }
  }

  &__social-link:link,
  &__social-link:visited {
    display: inline-flex;
    padding: 0;
    color: $clr-text;
  }

  &__iphone {
    display: grid;
    justify-content: center;
    align-items: center;

    &--img {
      margin-top: 6rem;
      width: 25rem;
      transition: $transition;

      @include respond(bp-medium-950) {
        display: none;
      }
    }
  }

  &__hero-btn {
    @include respond(bp-medium-950) {
      display: grid;
      justify-content: center;
      align-items: center;
    }
  }
}
