:root {
  --hover-color: #00eeff;
}

/* Universal Styles START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neo Tech', sans-serif;
}
/* Universal Styles END */

/* Font START */
@font-face {
  font-family: 'Neo Tech';
  src: url('/media/fonts/neotech.otf') format('opentype');
}
/* Font END */

/* Nav Bar START */
nav {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  min-height: 5vh;
  z-index: 5000;
  background-color: transparent;
}
/* Nav Bar END */

/* DTM Logo START */
.logo {
  color: #e2e2e2;
  letter-spacing: 4px;
  font-family: 'Neo Tech';
  font-size: 1.6em;
  padding-left: 150px;
}
/* DTM Logo END */

/* Nav Menu START */
.nav-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  letter-spacing: 2px;
  font-size: 1.1rem;
  padding-left: 500px;
}
/* Nav Menu END */

/* Nav Menu Links START */
.nav-menu a {
  text-decoration: none;
  color: #e2e2e2;
}
/* Nav Menu Links END */

/* Nav Menu List Items START */
.nav-menu li {
  list-style: none;
}
/* Nav Menu List Items END */

/* Scrollbar Color --START */

/* Overflow START */
body {
  overflow: overlay;
}
/* Overflow END */

/* Scrollbar Color Change START */

/* Scrollbar-Size START */
body::-webkit-scrollbar {
  width: 0.6rem;
}
/* Scrollbar-Size END */

/* Scrollbar-Track START */
body::-webkit-scrollbar-track {
  background: transparent;
}
/* Scrollbar-Track END */

/* Scrollbar-Thumb START */
body::-webkit-scrollbar-thumb {
  background: #00cbda;
  border-radius: 8px;
}
/* Scrollbar-Thumb END */

/* Scrollbar Color Change --END */

/* Showcase START */
.showcase {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  /* z-index: 2; */
  transition: 0.5s ease-in-out;
}
/* Showcase END */

/* Showcase.Active START */
/* .showcase.active {
  right: 300px;
} */
/* Showcase.Active END */

/* Showcase Header START */
/* .showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* Showcase Header END */

/* Paragraph Width START */
p {
  max-width: 700px;
}
/* Paragraph Width END */

/* Menu Toggle START */
/* .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('/media/icons/menu.png');
  filter: invert(1);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
} */
/* Menu Toggle END */

/* OLD Menu Toggle.active X<--Close Button START */
/* .toggle.active {
  background: url('/media/icons/close.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
} */
/* !~OLD~! Menu Toggle.active X<--Close Button END */

/* Background Video START */
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Background Video END */

/* Video Overlay START */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e2e2e;
  mix-blend-mode: overlay;
}
/* Video Overlay END */

/* Text Div START */
.text {
  position: relative;
  z-index: 10;
}
/* Text Div END */

/* H2 Text START */
.text h2 {
  font-size: 5em;
  line-height: 1em;
}
/* H2 Text END */

/* Text Link Styles START */
.text a {
  border-radius: 4px;
  display: inline-block;
  font-size: 1em;
  background: hsla(0, 0%, 35%, 0.65);
  padding: 15px 30px;
  text-decoration: none;
  color: #00eeff;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: .45s ease-in-out;
}
/* Text Link Styles END */

/* Text Link Hover Effect START */
.text a:hover {
  background: hsla(184, 100%, 50%, 0.8);
  color: rgba(0, 0, 0, 0.885);
  letter-spacing: 4px;
  transform: scale(1.05);
  transition: .35s ease-in-out;
}
/* Text Link Hover Effect END */

/* Social Media Icons START */
.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Social Media Icons END */

/* Social Media Icons Remove Bullet Points START */
.social li {
  list-style: none;
}
/* Social Media Icons Remove Bullet Points END */

/* Social Media Icon Links START */
.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 15px;
  transform: scale(0.25);
  transition: 0.3s;
}
/* Social Media Icon Links END */

/* Social Media Icon Hover Effects START */
.social li a:hover {
  transform: scale(0.25) translateY(-25px);
}
/* Social Media Icon Hover Effects END */

/* !~OLD~! Menu Toggle START */
/* .menu {
  background: #2e2e2e;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* !~OLD~! Menu Toggle END */

/* Menu Remove Bullet Points START */
/* .menu ul {
  position: relative;
  list-style: none;
} */
/* Menu Remove Bullet Points END */

/* Menu List Items Padding START */
/* .menu li {
  padding: 10px;
} */
/* Menu List Items Padding END */

/* Menu Link Decoration START */
/*
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
} */
/* Menu Link Decoration END */

/* Menu Link Hover Effect START */
/*
.menu ul li a:hover {
  color: var(--hover-color);
} */
/* Menu Link Hover Effect END */


/* Dark Mode to Light Mode Filter START */
/* video {
  filter: invert(1);
} */
/* Dark Mode to Light Mode Filter END */

/* @media query -Responsive for Mobile START */
@media (max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  
  .text h2 {
    font-size: 3em;
  }
  
  .logo {
    font-size: 1.25em;
  }
}
/* @media query -Responsive for Mobile END */