.card {
  // FUNCTIONALITY
  perspective: 1500px;
  -moz-perspective: 1500px;
  position: relative;
  height: 32.5rem;

  &__side {
    height: 32.5rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    overflow: hidden;
    box-shadow: 0 0.9375rem 2.5rem rgba($clr-black, 0.15);

    &--front {
      background: $clr-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background: linear-gradient(
          to right bottom,
          $clr-secondary-light,
          $clr-secondary-dark
        );
      }

      &-2 {
        background: linear-gradient(
          to right bottom,
          $clr-home-page-light,
          $clr-home-page-dark
        );
      }

      &-3 {
        background: linear-gradient(
          to right bottom,
          $clr-tertiary-light,
          $clr-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 14.375rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $clr-secondary-light,
          $clr-secondary-dark
        ),
        url(../media/images/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $clr-home-page-light,
          $clr-home-page-dark
        ),
        url(../media/images/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $clr-tertiary-light,
          $clr-tertiary-dark
        ),
        url(../media/images/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $clr-white;
    position: absolute;
    top: 7.5rem;
    right: 1.25rem;
    width: 75%;
  }

  &__heading-span {
    padding: 0.625rem 0.9375rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($clr-secondary-light, 0.85),
        rgba($clr-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($clr-home-page-light, 0.85),
        rgba($clr-home-page-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($clr-tertiary-light, 0.85),
        rgba($clr-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 1.875rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 0.9375rem;
        padding: 0.625rem;

        &:not(:last-child) {
          border-bottom: 1px solid $clr-grey-11;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $clr-white;
  }

  &__price-only {
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  &__price-value {
    margin-bottom: 5rem;
    font-size: 3.75rem;
    font-weight: 100;
  }
}
