.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 0.938rem 2.5rem rgba($clr-black, 0.4);
    border-radius: 4px;
    transition: all 0.25s;
    z-index: 1;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.333333%;
      box-shadow: 0 0.938rem 1.875rem rgba($clr-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -1.25rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 1.25rem;

      @include respond(tab-port) {
        top: -0.625rem;
        transform: scale(1.3);
        z-index: 2;
      }
    }

    &--p3 {
      left: 20%;
      top: 6.25rem;

      @include respond(tab-port) {
        top: 0.625rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 4rem 0.25rem rgba($clr-primary-5, 1);
      z-index: 3;

      @include respond(tab-port) {
        &:hover {
          transform: scale(1.85);
        }
      }

      &:hover &__photo:not(:hover) {
        transform: scale(0.95);
      }
    }
  }
}
