.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($clr-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba($clr-black, 0.25);
  }

  &__text-scrollbox {
    overflow: auto;
    height: 100%;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__content {
    @include absCenter;
    display: table;
    width: 75%;
    background: $clr-white;
    box-shadow: 0 1.25rem 2.5rem rgba($clr-black, 0.2);
    border-radius: 0.25rem;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s;

    @include respond(tab-land-1500px) {
      width: 89%;
    }

    @include respond(tab-port-1140px) {
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-port-1140px) {
      width: 50%;
      display: flex;
    }
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 1.875rem 3.125rem;

    @include respond(tab-port-1140px) {
      display: block;
      width: 100%;

      .heading-secondary {
        font-size: 1.425rem;
      }

      .heading-tertiary {
        margin-top: 1rem;
        font-size: 0.9rem;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include respond(tab-land-1430px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__text {
    font-size: 0.875rem;
    margin-bottom: 2.5rem;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    -moz-column-rule: 1px solid $clr-grey-11;
    column-rule: 1px solid $clr-grey-11;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  // Open States
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $clr-home-page-darker;
      position: absolute;
      top: 0.9rem;
      right: 1.5625rem;
      font-size: 2.5rem;
      width: 2.75rem;
      height: 2.75rem;
      border: 1.5px solid $clr-home-page-darker;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      display: block;
      transition: all 0.25s;
      line-height: 1;
    }

    &:hover {
      color: rgb(175, 0, 0);
      border: 1px solid rgb(175, 0, 0);
    }
  }
}
