.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($clr-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &__content {
    @include absCenter;
    display: table;
    width: 75%;
    background: $clr-white;
    box-shadow: 0 1.25rem 2.5rem rgba($clr-black, 0.2);
    border-radius: 0.25rem;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 1.875rem 3.125rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 0.875rem;
    margin-bottom: 2.5rem;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    -moz-column-rule: 1px solid $clr-grey-11;
    column-rule: 1px solid $clr-grey-11;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  // Open States
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $clr-grey-7;
      position: absolute;
      top: 0.9rem;
      right: 1.5625rem;
      font-size: 2.5rem;
      text-decoration: none;
      display: block;
      transition: all 0.25s;
      line-height: 1;
    }

    &:hover {
      color: $clr-home-page-light;
    }
  }
}
