.story {
  position: relative;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.875rem 3.75rem rgba($clr-black, 0.1);
  background: rgba($clr-white, 0.6);
  border-radius: 0.375rem;
  padding: 3.75rem;
  padding-left: 5.625rem;
  transform: skewX(-12deg);

  &__shape {
    width: 9.375rem;
    height: 9.375rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1.875rem) skewX(12deg);
  }

  &__img {
    height: 100%;
    transform: translateX(-2.5rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, 02%);
    transform: translate(-50%, 20%);
    color: $clr-white;
    text-transform: uppercase;
    font-size: 1.0625rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-2.5rem) scale(1);
    filter: blur(0.1875rem) brightness(80%);
  }
}
