/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: #161616;
  /* overflow: hidden; */
}

/* Scrollbar Color */
.content-wrapper::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

.content-wrapper::-webkit-scrollbar-track {
  background: transparent;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 95vh;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  color: transparent;
  border-radius: 8rem;
}

/* Smooth Scroll */
.content-wrapper {
  z-index: 5;
  backdrop-filter: blur(8.5px);
  background: rgb(112, 111, 111);
  border-radius: 25px;
  width: 90%;
  max-height: 90%;
  margin: 4% 5%;
  position: fixed;
  overflow-y: scroll;
}

.smooth-scroll-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.content {
  width: 80%;
  margin: 160px auto;
  position: relative;
  overflow: hidden;
}

.content h1 {
  font-size: 55px;
}

.content p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
}

.img {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background: #140214 no-repeat 50% 50%;
  background-size: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #00eeff;
}

h1,
h2 {
  line-height: 1.2;
  margin: 10px 0;
  letter-spacing: 1.5px;
}

img {
  width: 100%;
}

/* Navbar */
.menu-btn {
  display: none;
}

.nav-container {
  z-index: 10;
  background-color: #000107;
  color: #fff;
  height: 7vh;
  position: relative;
  top: 0;
  width: 100%;
}

.nav-container .nav-list {
  display: flex;
}

.nav-container a {
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #fff;
  padding: 10px;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-container .flex {
  justify-content: space-between;
}

/* Utilities */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
