/////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: var(--clr-grey-10);
    border: none;
    padding: 0.4375rem 1.25rem;
    border-radius: 2.1875rem;
    width: 90%;
    transition: all 0.25s;
    margin-right: -2.0313rem;

    &:focus {
      outline: none;
      width: 100%;
      background: var(--clr-grey-9);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--clr-grey-8);
    }
  }

  &__input:focus + &__button {
    background: var(--clr-grey-9);
  }

  &__button {
    border: none;
    background: var(--clr-grey-10);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 1.25rem;
    width: 1.25rem;
    fill: var(--clr-grey-6);
  }
}
