body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f3f3f3;
}

.container {
  border: 5px solid red;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 {
  height: 800px;
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #f3f3f3;
}

.box-1 {
  background: #581f18;
}

.box-2 {
  background: #f0a202;
}

.box-3 {
  background: #d95d39;
}

.box-4 {
  background: #202c59;
}

.box-5 {
  background: #51cb20;
}

.generic {
  background: cornflowerblue;
}
