@font-face {
  font-family: "NeoTech-Regular";
  src: url("../../media/fonts/NeoTech-Regular(400).otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

body {
  font-family: "NeoTech";
  color: #393a53;
  font-weight: 400;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}

body::-webkit-scrollbar-track {
  background: none;
  margin-bottom: 1px;
  border-radius: 8px;
}

@media only screen and (max-width: 75em) {
  body::-webkit-scrollbar-track {
    margin-top: 4.5rem;
  }
}

body::-webkit-scrollbar-thumb {
  background: #1f2687b3;
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #1f2687;
  border-radius: 8rem;
}

::-moz-selection {
  background: #0ef;
  color: #fff;
}

::selection {
  background: #0ef;
  color: #fff;
}

.about__pictures {
  background: #00afbb;
  grid-column: full-start / col-end 4;
}

.about__content {
  background: #0ef;
  grid-column: col-start 5 / full-end;
}

.contact {
  background: #006f77;
  grid-column: full-start / full-end;
}

.footer {
  background: #777;
  grid-column: full-start / full-end;
}

.header {
  background: #ddd;
  grid-column: full-start / full-end;
}

.navbar {
  background: #999;
  grid-column: nav-start / nav-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__nav-list--item {
  text-decoration: none;
}

.projects {
  background: #4e4f70;
  grid-column: full-start / full-end;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[7];
      grid-template-rows: repeat(7, -webkit-min-content);
      grid-template-rows: repeat(7, min-content);
  -ms-grid-columns: [nav-start full-start] min-content minmax(3.75rem, 1fr) [center-start] ([col-start] minmax(min-content, 9.375rem) [col-end])[8] [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
      grid-template-columns: [nav-start full-start] -webkit-min-content minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 9.375rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
      grid-template-columns: [nav-start full-start] min-content minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 9.375rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
}
