/* 
=====
Fonts
=====
*/
@font-face {
  font-family: "Neo Tech Light";
  src: url("../../media/fonts/NeoTech-Light(300).otf") format("opentype");
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

@font-face {
  font-family: "Neo Tech";
  src: url("../../media/fonts/NeoTech-Regular(400).otf") format("opentype");
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

@font-face {
  font-family: "Neo Tech Medium";
  src: url("../../media/fonts/NeoTech-Medium(500).otf") format("opentype");
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

@font-face {
  font-family: "Neo Tech Bold";
  src: url("../../media/fonts/NeoTech-Bold(700).otf") format("opentype");
  /* 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold), 900 (Bolder / Dark) */
}

/* 
=====
RESET
=====
*/
* {
  margin: 0;
  padding: 0;
}

/* 
========================================
RESET for Pseudo Elements & All Elements
========================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* 
=============
Global Styles
=============
*/
li,
a {
  text-decoration: none;
  list-style: none;
}

h1,
h2 {
  line-height: 1.2;
  letter-spacing: 0.0938rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  /* Font Size set to 100% for html to use with media quries */
  font-size: 100%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: "NeoTech";
  color: #393a53;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.0938rem;
  color: #fff;
}

body::-webkit-scrollbar {
  /* Body Scrollbar color */
  width: 0.65rem;
  height: 0.65rem;
}

body::-webkit-scrollbar-track {
  /* Body Scrollbar Track color */
  background: none;
  margin-bottom: 0.0625rem;
  border-radius: 0.5rem;
  margin-top: 5.5rem;
}

body::-webkit-scrollbar-thumb {
  /* Body Scrollbar Thumb color */
  background: #1f2687b3;
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  /* Body Scrollbar Thumb:HOVER color */
  background: #1f2687;
  border-radius: 8rem;
}

::-moz-selection {
  /* Highlight Color */
  background: #0ef;
  color: #fff;
}

::selection {
  /* Highlight Color */
  background: #0ef;
  color: #fff;
}

/* Main Container */
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 4.5rem;
}

@media only screen and (max-width: 40.625em) {
  .container {
    padding: 0 2.5rem;
  }
}

/* Video Background & Overlay*/
.header__video-background {
  z-index: -2;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__video-background--overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.7);
  mix-blend-mode: overlay;
}

/* 
====================
Navbar - Menu Button
====================
*/
/* Menu Button Styling */
.navbar__menu-btn {
  width: 2rem;
  height: 2rem;
  position: relative;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.navbar__menu-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navbar__menu-btn--menu-burger {
  /* Menu Burger (Bars) Styling */
  width: 2rem;
  height: 3.85px;
  background: #0ef;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px 1px #999;
          box-shadow: 0 1px 4px 1px #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__menu-btn--menu-burger::before, .navbar__menu-btn--menu-burger::after {
  /* Menu Burger BEFORE & AFTER Elements */
  content: "";
  position: absolute;
  width: 2rem;
  height: 3.85px;
  background: #0ef;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px 1px #999;
          box-shadow: 0 1px 4px 1px #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__menu-btn--menu-burger::before {
  /* Menu Bar Translate (Neg) */
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

.navbar__menu-btn--menu-burger::after {
  /* Menu Bar Translate (Pos) */
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger {
  /* Menu.open class for JavaScript */
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger::before {
  /* Menu bar rotate (pos) BEFORE & Color */
  -webkit-transform: rotate(45deg) translate(-25px, 25px);
          transform: rotate(45deg) translate(-25px, 25px);
  background: #f29c9c;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger::after {
  /* Menu bar rotate (neg) AFTER & Color */
  -webkit-transform: rotate(-45deg) translate(-25px, -25px);
          transform: rotate(-45deg) translate(-25px, -25px);
  background: #f29c9c;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger:hover::after {
  /* Menu bars HOVER Color After Element */
  background: #c40000;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger:hover::before {
  /* Menu bars HOVER Color Before Element */
  background: #c40000;
}

.hire-me {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 400;
  background: gray;
  color: #0ef;
  padding: 13px 30px 9.5px 30px;
  margin-top: 30px;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.hire-me:hover {
  letter-spacing: 3px;
  background: #00eeff;
  color: #474747;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px 2px #00eeff;
          box-shadow: 0 0 10px 2px #00eeff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.hire-me:hover:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

/* 
=====
ABOUT
=====
*/
.about {
  /* About Glass Container */
  width: 100%;
  grid-column: full-start / full-end;
  background: rgba(39, 39, 39, 0.95);
  -webkit-box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
          box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.702);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 3rem auto;
  overflow: hidden;
  position: relative;
}

.about__heading {
  /* About Me Title */
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin: 4rem auto;
  color: #0ef;
}

.about__picture {
  /* About Me Section - Picture & Description */
  padding: 2rem 5.5rem;
  margin: 0 auto;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: radial-gradient(circle farthest-corner at 100% 100%, #393a53 1%, #0e0e0e00 50%);
  -webkit-box-shadow: 0 0 8px 3px #393a53;
          box-shadow: 0 0 8px 3px #393a53;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

@media only screen and (max-width: 40.625em) {
  .about__picture {
    padding: 2rem 3rem;
  }
}

.about__picture--container {
  /* Profile Picture Container - Used to change Picture & Description from 2 Column over to 1 Column Layout */
}

@media only screen and (max-width: 40.625em) {
  .about__picture--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__picture--dan-pic {
  /* Profile Picture Styling */
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 9px 0 #0ef;
          box-shadow: 0 0 9px 0 #0ef;
  position: relative;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
  float: left;
  shape-outside: circle(50% at 50% 50%);
  margin-right: 3rem;
  margin-bottom: 0.905rem;
}

@media only screen and (max-width: 40.625em) {
  .about__picture--dan-pic {
    margin-right: 0;
    float: none;
  }
}

.about__picture--text-h2 {
  margin-bottom: 1rem;
}

.about__picture--text-p1 {
  margin-bottom: 2rem;
}

.about__picture--text-p1--bold-hello {
  font-size: 1.25rem;
  font-weight: 500;
  color: #0ef;
}

.about__picture--text-p1, .about__picture--text-p2 {
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
}

.about__content {
  margin: 10rem auto 4rem auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Skills UL of SVG's  */
}

@media only screen and (max-width: 40.625em) {
  .about__content {
    margin: 8rem auto 4rem auto;
  }
}

.about__content--h1 {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #0ef;
}

.about__content--skills-container {
  padding: 0 5rem;
}

@media only screen and (max-width: 40.625em) {
  .about__content--skills-container {
    padding: 0 3rem;
  }
}

.about__content--skills-ul-container {
  margin: 0 auto;
  width: 65%;
}

@media only screen and (max-width: 56.25em) {
  .about__content--skills-ul-container {
    width: 100%;
  }
}

.about__content--skills {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  /* 
      ================================================================================================
      6 Column Layout on Skills section that wraps - also has WIDE padding to hold the 6 column layout
      - The WIDE padding will be removed at 900px as it will still hold the 6 Column Layout at 900px
      ================================================================================================
      */
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  /* 4 Column Layout + Some padding that helps to keep the 4 Column Layout */
  /* 5 Column Layout due to the padding changing to even less. */
  /* 3 Column Layout - without this media query it would default to 2 columns with too much space */
}

@media only screen and (max-width: 42em) {
  .about__content--skills {
    -ms-grid-columns: (minmax(4.5rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
  }
}

@media only screen and (max-width: 40.625em) {
  .about__content--skills {
    -ms-grid-columns: (minmax(4.5rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
  }
}

@media only screen and (max-width: 26.75em) {
  .about__content--skills {
    -ms-grid-columns: (minmax(4.25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(4.25rem, 1fr));
  }
}

.about__content--skills svg {
  /* Styling for all skill svg's - GLOBAL */
  position: relative;
  max-height: 5rem;
  max-width: 5.5rem;
  padding: 0.5rem;
  background: radial-gradient(circle farthest-corner at 100% 100%, #393a53 1%, #0e0e0e00 50%);
  -webkit-box-shadow: 0 0 8px 3px #393a53;
          box-shadow: 0 0 8px 3px #393a53;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.about__content--skills svg:hover {
  -webkit-box-shadow: 0 0 8px 3px #00afbb;
          box-shadow: 0 0 8px 3px #00afbb;
}

.about__content--skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.about__content--skill-html5 {
  color: #dc4d25;
}

.about__content--skill-css3 {
  color: #2965f1;
}

.about__content--skill-sass {
  color: #cf649a;
}

.about__content--skill-bootstrap {
  color: #7852b3;
}

.about__content--skill-js {
  color: #e8d44d;
}

.about__content--skill-node-js {
  color: #689f63;
}

.about__content--skill-npm {
  color: #cb0a00;
}

.about__content--skill-git {
  color: #fb4f28;
}

.about__content--skill-figma {
  color: #6e5494;
}

.about__content--skill-ubuntu {
  color: #e95321;
}

.about__content--skill-nginx {
  color: #009639;
}

.about__content--skill-linode {
  color: #02b159;
}

/* 
=======
CONTACT
=======
*/
.contact {
  background: #006f77;
  grid-column: full-start / full-end;
}

/*
======
FOOTER
======
*/
.footer {
  background: #444;
  grid-column: full-start / full-end;
}

/* 
======
HEADER
======
*/
.header {
  grid-column: full-start / full-end;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 59.375em) {
  .header {
    /* Breakpoint for mobile */
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.header__hero-text {
  font-weight: 300;
  margin: 0 5rem 0 3rem;
}

@media only screen and (max-width: 59.375em) {
  .header__hero-text {
    /* Breakpoint for mobile */
    margin: auto;
  }
}

.header__hero-text-logo {
  font-weight: 300;
  font-size: 5rem;
  line-height: 1.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 47.938em) {
  .header__hero-text-logo {
    font-size: 3.5rem;
  }
}

.header__hero-text-logo--tech-media {
  font-weight: 500;
  color: #0ef;
}

.header__hero-text-h2 {
  font-weight: 400;
  color: silver;
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 47.938em) {
  .header__hero-text-h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .header__hero-text-h2--breakpoint {
    line-height: 1.8;
    display: block;
  }
}

.header__hero-text-h2--span {
  /* Span for typewriter text  */
  color: #0ef;
  position: absolute;
  margin-left: 10px;
  font-weight: 700;
}

.header__hero-text-h2 .header__hero-text-h2--span > .txt {
  /* Cursor for typewriter text */
  border-right: 0.19rem solid chartreuse;
  padding: 2.5px 0;
}

.header__social-container {
  line-height: 1;
  position: fixed;
  top: 70%;
  margin-left: 10px;
  left: 0;
}

@media only screen and (max-width: 59.375em) {
  .header__social-container {
    margin-left: 0;
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 5rem;
  }
}

.header__social-container--list {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 59.375em) {
  .header__social-container--list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.header__social-container--item {
  width: 0;
  height: 0;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 59.375em) {
  .header__social-container--item {
    margin-top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
}

.header__social-container--link:link, .header__social-container--link:visited {
  display: block;
  padding: 0;
  color: #fff;
}

.header__social-container--svg {
  display: block;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__social-container--svg:hover {
  color: #0ef;
}

.header__social-container--svg-email, .header__social-container--svg-github, .header__social-container--svg-linkedin, .header__social-container--svg-twitter {
  width: 1.875rem;
  height: 1.875rem;
}

.header__iphone {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__iphone--img {
  margin-top: 6rem;
  width: 25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 59.375em) {
  .header__iphone--img {
    display: none;
  }
}

@media only screen and (max-width: 59.375em) {
  .header__hero-btn {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* 
==========
NAVIGATION
==========
*/
.navbar {
  grid-column: nav-start / nav-end;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__container {
  width: 100%;
  padding: 1.5rem 2rem 1rem 2rem;
  max-width: 100rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__logo--tech-media {
  font-weight: 500;
  color: #0ef;
}

.navbar__menu-btn {
  /* Menu Button display:none - for larger screens */
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 47.938em) {
  .navbar__menu-btn {
    display: -ms-grid;
    display: grid;
  }
}

.navbar__nav-links {
  /* Will HIDE Navbar Links on top Navbar if screen is 768px or smaller */
  display: none;
  /* LAYOUT for Navbar Links on top Navbar for screens bigger than 768px */
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: end;
}

@media only screen and (min-width: 48em) {
  .navbar__nav-links {
    /* Will SHOW Navbar Links on top Navbar if screen is 768px or BIGGER */
    display: -ms-grid;
    display: grid;
  }
}

.navbar__nav-links--link {
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.8125rem 1.875rem 0.5938rem 1.875rem;
  letter-spacing: 1.5px;
  border-radius: 6px;
}

.navbar__nav-links--link:hover {
  background: #00eeff;
  color: #474747;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px 2px #00eeff;
          box-shadow: 0 0 10px 2px #00eeff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navbar__nav-links--link:hover:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.navbar.scrolling-active {
  /* Scrolling Actice class for styles applied with JavaScript on Scroll  */
  background: #000105;
  -webkit-box-shadow: 0 2px 12px 1px #008f99;
          box-shadow: 0 2px 12px 1px #008f99;
}

.navbar__sidebar {
  /* Sidebar Layout & Styling - Sidebar will only show when screen is smaller than 768px */
  background: #444;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 11;
}

.navbar__sidebar.show-sidebar {
  /* Show Sidebar class for JavaScript when Menu Button is clicked */
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar__sidebar-logo {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #fff;
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.navbar__sidebar-logo--tech-media {
  font-weight: 500;
  color: #0ef;
}

.navbar__sidebar-links-item {
  width: 100vw;
  border-bottom: 1px solid #444;
}

.navbar__sidebar-links {
  /* Sidebar Links Center Alignment */
  text-align: center;
}

.navbar__sidebar-links--link:link, .navbar__sidebar-links--link:visited {
  /* Styles applied to each link the Sidebar */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 4.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__sidebar-links--link:link:hover, .navbar__sidebar-links--link:visited:hover {
  text-shadow: 0.125rem 0.125rem 1.5625rem #000;
  -webkit-transform: translateY(-3px) scale(1.25);
          transform: translateY(-3px) scale(1.25);
  color: #0ef;
}

.navbar__sidebar-links--link:link:active, .navbar__sidebar-links--link:visited:active {
  text-shadow: 0.125rem 0.125rem 0.9375rem #000;
  -webkit-transform: translateY(-1px) scale(1.225);
          transform: translateY(-1px) scale(1.225);
}

.navbar__sidebar-social-icons {
  /* Sidebar Social Icons - Display Grid */
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 18.75rem;
  margin-top: 3rem;
}

.navbar__sidebar-social-icons-item {
  /* Sidebar Social Icons Container to size SVG */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__sidebar-social-icons-link {
  height: 2.5rem;
  width: 2.5rem;
}

.navbar__sidebar-social-icons-link:link, .navbar__sidebar-social-icons-link:visited {
  /* Sidebar SVG Colors, Inherited height from navbar__sidebar-social-icons-item container */
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__sidebar-social-icons-link:link:hover, .navbar__sidebar-social-icons-link:visited:hover {
  color: #0ef;
  -webkit-box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.navbar__sidebar-social-icons-link:link:active, .navbar__sidebar-social-icons-link:visited:active {
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

/*
========
PROJECTS
========
*/
.projects {
  grid-column: full-start / full-end;
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  overflow: hidden;
      grid-template-areas: "projects-heading-container" "glass-container";
}

.projects__heading-container {
  /* Projects Heading Container GLOBAL */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0ef;
  text-align: center;
  margin: 4rem auto;
}

.projects__heading-container--h1 {
  font-size: 3rem;
  font-weight: 400;
}

.projects__glass-container {
  /* Glass Container that holds all the project cards */
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 2px 8px 0 #1f2687b3;
          box-shadow: 0 2px 8px 0 #1f2687b3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 3rem auto;
  padding: 3rem;
  overflow: hidden;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 50px;
      grid-template-areas: "glass-container";
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__card-wrapper {
  /* Project Card Wrapper GLOBAL */
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(23, 23, 23, 0.9);
  -webkit-box-shadow: 0 2px 8px 0 #1f2687b3;
          box-shadow: 0 2px 8px 0 #1f2687b3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  position: relative;
  width: 320px;
  height: 450px;
  overflow: hidden;
  will-change: transform;
  /*
    
    1. - Mapty *** NOT DONE YET***
    
    2. - Nexter *** NOT DONE YET***
    
    3. - Natours
    
    4. - Omnifood
    
    5. - Trillo
    
    6. - Portfolio
    
    7. - BackRoads
    
    8. - Tea Station
    
    */
}

.projects__card-wrapper::before {
  /* Project Circle with Image of project before hover GLOBAL */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}

.projects__card-wrapper:hover::before {
  /* Project Circle with Image of project on hover - Circle will move to the left GLOBAL */
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

.projects__card-wrapper--project1::before {
  /* Project 1 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/`Under__Construction/code.jpg") center/cover no-repeat;
}

.projects__card-wrapper--project2::before {
  /* Project 2 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/Natours/natours.png") center/cover no-repeat;
}

.projects__card-wrapper--project3::before {
  /* Project 3 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/Omnifood/omnifood.png") center/cover no-repeat;
}

.projects__card-wrapper--project4::before {
  /* Project 4 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/Trillo/trillo.png") center/cover no-repeat;
}

.projects__card-wrapper--project5::before {
  /* Project 5 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/tea-station/main-bcg.png") center/cover no-repeat;
}

.projects__card-wrapper--project6::before {
  /* Project 6 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/tea-station/main-bcg.png") center/cover no-repeat;
}

.projects__card-wrapper--project7::before {
  /* Project 7 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/tea-station/main-bcg.png") center/cover no-repeat;
}

.projects__card-wrapper--project8::before {
  /* Project 8 Image for Circle */
  background: url("/WIP/dtm_v2/media/images/projects/tea-station/main-bcg.png") center/cover no-repeat;
}

.projects__card-wrapper:hover .projects__card-wrapper--project-content {
  /* Project Content moves up on Hover GLOBAL */
  height: 225px;
}

.projects__card-wrapper--project-content {
  /* Project Card Content GLOBAL */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  z-index: 1;
  will-change: transform;
}

.projects__card-wrapper--project-content--h2 {
  /* Project H2 Styling GLOBAL */
  position: relative;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 400;
  color: #c0c0c0;
  margin: 0 auto;
}

.projects__card-wrapper--project-content--button-container {
  /* View Project Button Container */
  display: inline-block;
  margin-top: 1.5rem;
  opacity: 0;
  -webkit-transition: 0.65s ease-in-out;
  transition: 0.65s ease-in-out;
  letter-spacing: 1.5px;
  -webkit-transform: translateY(110px);
          transform: translateY(110px);
}

.projects__card-wrapper--project-content--button-container--btn {
  /* View Project Button Styling GLOBAL */
  padding: 13px 20px 10px 20px;
  color: #0ef;
  background: #70809066;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__card-wrapper--project-content--button-container--btn:hover {
  /* View Projects Button Styling on Hover GLOBAL */
  background: #0ef;
  color: #1f1f1f;
  -webkit-box-shadow: 0 0 10px 2px #0ef;
          box-shadow: 0 0 10px 2px #0ef;
}

.projects__card-wrapper--project-content--github-container {
  /* GitHub Icon Layout GLOBAL */
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.projects__card-wrapper--project-content--github-container--github {
  /* GitHub Icon Styling GLOBAL */
  width: 30px;
  height: 30px;
  color: silver;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.projects__card-wrapper--project-content--github-container--github:hover {
  /* GitHub Icon Transition on Hover GLOBAL */
  color: #6e5494;
}

.projects__card-wrapper--project-content--code-languages {
  /* Code Languages Container GLOBAL */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  margin: 55px 0 0 15px;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
}

.projects__card-wrapper--project-content--code-languages--html5 {
  /* HTML5 Icon Styling */
  width: 17px;
  height: 17px;
  color: #dc4d25;
  margin: 0 5px;
}

.projects__card-wrapper--project-content--code-languages--css3 {
  /* CSS3 Icon Styling */
  width: 17px;
  height: 17px;
  margin: 0 5px;
  color: #2965f1;
}

.projects__card-wrapper--project-content--code-languages--js {
  /* JavaScript Icon Styling */
  width: 17px;
  height: 18px;
  margin: 0 5px;
  color: #e8d44d;
}

.projects__card-wrapper:hover .projects__card-wrapper--project-content--button-container {
  /* Project Card Hover - Styling for View Projects Button on Hover - Transition Effect GLOBAL */
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.projects__card-wrapper:hover .projects__card-wrapper--project-content--github-container {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.315s;
          transition-delay: 0.315s;
}

.projects__card-wrapper:hover .projects__card-wrapper--project-content--code-languages {
  /* Code Languages Container Transition on Hover GLOBAL */
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.container {
  /* Container for the entire website - GLOBAL */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[5];
      grid-template-rows: repeat(5, -webkit-min-content);
      grid-template-rows: repeat(5, min-content);
  -ms-grid-columns: [nav-start full-start] min-content minmax(3.75rem, 1fr) [center-start] ([col-start] minmax(min-content, 9.375rem) [col-end])[8] [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
      grid-template-columns: [nav-start full-start] -webkit-min-content minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 9.375rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
      grid-template-columns: [nav-start full-start] min-content minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 9.375rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
}
