/* 
=====
Fonts
=====
*/
@font-face {
  font-family: "NeoTech-Regular";
  src: url("../../media/fonts/NeoTech-Regular(400).otf") format("opentype");
  /* 300 (Light), 400 (Regular), 500 (Medium), 600 (Bold), 800 (Bolder / Dark) */
}

/* 
=====
RESET
=====
*/
* {
  margin: 0;
  padding: 0;
}

/* 
========================================
RESET for Pseudo Elements & All Elements
========================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* 
=============
Global Styles
=============
*/
li,
a {
  text-decoration: none;
  list-style: none;
}

h1,
h2 {
  line-height: 1.2;
  letter-spacing: 0.0938rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  /* Font Size set to 100% for html to use with media quries */
  font-size: 100%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: "NeoTech";
  color: #393a53;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.0938rem;
  color: #fff;
}

body::-webkit-scrollbar {
  /* Body Scrollbar color */
  width: 0.65rem;
  height: 0.65rem;
}

body::-webkit-scrollbar-track {
  /* Body Scrollbar Track color */
  background: none;
  margin-bottom: 0.0625rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 75em) {
  body::-webkit-scrollbar-track {
    margin-top: 4.5rem;
  }
}

body::-webkit-scrollbar-thumb {
  /* Body Scrollbar Thumb color */
  background: #1f2687b3;
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  /* Body Scrollbar Thumb:HOVER color */
  background: #1f2687;
  border-radius: 8rem;
}

::-moz-selection {
  /* Highlight Color */
  background: #0ef;
  color: #fff;
}

::selection {
  /* Highlight Color */
  background: #0ef;
  color: #fff;
}

/* Main Container */
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

/* Video Background & Overlay*/
.header__video-background {
  z-index: -2;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__video-background--overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.7);
  mix-blend-mode: overlay;
}

/* 
====================
Navbar - Menu Button
====================
*/
/* Menu Button Styling */
.navbar__menu-btn {
  width: 2rem;
  height: 2rem;
  position: relative;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 100;
}

.navbar__menu-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navbar__menu-btn--menu-burger {
  /* Menu Burger (Bars) Styling */
  width: 2rem;
  height: 3.85px;
  background: #0ef;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px 1px #999;
          box-shadow: 0 1px 4px 1px #999;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar__menu-btn--menu-burger::before, .navbar__menu-btn--menu-burger::after {
  /* Menu Burger BEFORE & AFTER Elements */
  content: "";
  position: absolute;
  width: 2rem;
  height: 3.85px;
  background: #0ef;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px 1px #999;
          box-shadow: 0 1px 4px 1px #999;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar__menu-btn--menu-burger::before {
  /* Menu Bar Translate (Neg) */
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

.navbar__menu-btn--menu-burger::after {
  /* Menu Bar Translate (Pos) */
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger {
  /* Menu.open class for JavaScript */
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger::before {
  /* Menu bar rotate (pos) BEFORE & Color */
  -webkit-transform: rotate(45deg) translate(-25px, 25px);
          transform: rotate(45deg) translate(-25px, 25px);
  background: #f29c9c;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger::after {
  /* Menu bar rotate (neg) AFTER & Color */
  -webkit-transform: rotate(-45deg) translate(-25px, -25px);
          transform: rotate(-45deg) translate(-25px, -25px);
  background: #f29c9c;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger:hover::after {
  /* Menu bars HOVER Color After Element */
  background: #c40000;
}

.navbar__menu-btn.navbar__menu-btn.open .navbar__menu-btn--menu-burger:hover::before {
  /* Menu bars HOVER Color Before Element */
  background: #c40000;
}

.hire-me {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 400;
  background: gray;
  color: #0ef;
  padding: 13px 30px 9.5px 30px;
  margin-top: 30px;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius: 6px;
}

.hire-me:hover {
  letter-spacing: 3px;
  background: #00eeff;
  color: #474747;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 0 0 10px 2px #00eeff;
          box-shadow: 0 0 10px 2px #00eeff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.hire-me:hover:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

/* 
=====
ABOUT
=====
*/
.about__pictures {
  background: #00afbb;
  grid-column: full-start / col-end 4;
}

.about__content {
  background: #0ef;
  grid-column: col-start 5 / full-end;
}

/* 
=======
CONTACT
=======
*/
.contact {
  background: #006f77;
  grid-column: full-start / full-end;
}

/*
======
FOOTER
======
*/
.footer {
  background: #777;
  grid-column: full-start / full-end;
}

/* 
======
HEADER
======
*/
.header {
  grid-column: full-start / full-end;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hero-text {
  font-weight: 300;
  margin: 0 5rem 0 3rem;
}

.header__hero-text-h2 {
  font-weight: 400;
  color: silver;
  font-size: 2.4em;
  line-height: 1.5em;
}

.header__hero-text-h2--span {
  color: #0ef;
  position: absolute;
  margin-left: 10px;
  font-weight: 600;
}

.header__hero-text-h2 .header__hero-text-h2--span > .txt {
  border-right: 0.19rem solid chartreuse;
  padding: 2.5px 0;
}

.header__hero-text-logo {
  font-weight: 300;
  font-size: 5em;
  line-height: 2em;
}

.header__hero-text-logo--tech-media {
  font-weight: 500;
  color: #0ef;
}

.header__iphone {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__iphone--img {
  margin-top: 6rem;
  width: 25rem;
}

/* 
==========
NAVIGATION
==========
*/
.navbar {
  grid-column: nav-start / nav-end;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar__container {
  width: 100%;
  padding: 1.5rem 2rem 1rem 2rem;
  max-width: 100rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar__logo--tech-media {
  font-weight: 500;
  color: #0ef;
}

.navbar__menu-btn {
  /* Menu Button display:none - for larger screens */
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 47.938em) {
  .navbar__menu-btn {
    display: -ms-grid;
    display: grid;
  }
}

.navbar__nav-links {
  /* Will HIDE Navbar Links on top Navbar if screen is 768px or smaller */
  display: none;
  /* LAYOUT for Navbar Links on top Navbar for screens bigger than 768px */
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: end;
}

@media only screen and (min-width: 48em) {
  .navbar__nav-links {
    /* Will SHOW Navbar Links on top Navbar if screen is 768px or BIGGER */
    display: -ms-grid;
    display: grid;
  }
}

.navbar__nav-links--link {
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: inline-block;
  font-size: 1.1rem;
  padding: 13px 30px 9.5px 30px;
  letter-spacing: 1.5px;
  border-radius: 6px;
}

.navbar__nav-links--link:hover {
  background: #00eeff;
  color: #474747;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 0 0 10px 2px #00eeff;
          box-shadow: 0 0 10px 2px #00eeff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navbar__nav-links--link:hover:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.navbar.scrolling-active {
  /* Scrolling Actice class for styles applied with JavaScript on Scroll  */
  background: #000105;
  -webkit-box-shadow: 0 2px 12px 1px #008f99;
          box-shadow: 0 2px 12px 1px #008f99;
}

.navbar__sidebar {
  /* Sidebar Layout & Styling - Sidebar will only show when screen is smaller than 768px */
  background: #444;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 11;
}

.navbar__sidebar.show-sidebar {
  /* Show Sidebar class for JavaScript when Menu Button is clicked */
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar__sidebar-logo {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #fff;
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.navbar__sidebar-logo--tech-media {
  font-weight: 500;
  color: #0ef;
}

.navbar__sidebar-links-item {
  width: 100vw;
  border-bottom: 1px solid #444;
}

.navbar__sidebar-links {
  /* Sidebar Links Center Alignment */
  text-align: center;
}

.navbar__sidebar-links--link:link, .navbar__sidebar-links--link:visited {
  /* Styles applied to each link the Sidebar */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 4.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar__sidebar-links--link:link:hover, .navbar__sidebar-links--link:visited:hover {
  text-shadow: 2px 2px 25px #000;
  -webkit-transform: translateY(-3px) scale(1.25);
          transform: translateY(-3px) scale(1.25);
  color: #0ef;
}

.navbar__sidebar-links--link:link:active, .navbar__sidebar-links--link:visited:active {
  text-shadow: 2px 2px 15px #000;
  -webkit-transform: translateY(-1px) scale(1.225);
          transform: translateY(-1px) scale(1.225);
}

.navbar__sidebar-social-icons {
  /* Sidebar Social Icons - Display Grid */
  height: 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (40px)[3];
      grid-template-columns: repeat(3, 40px);
  gap: 3rem;
}

.navbar__sidebar-social-icons-item {
  /* Sidebar Social Icons Container to size SVG */
  height: 40px;
}

.navbar__sidebar-social-icons-link:link, .navbar__sidebar-social-icons-link:visited {
  /* Sidebar SVG Colors, Inherited height from navbar__sidebar-social-icons-item container */
  color: #ddd;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: inherit;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar__sidebar-social-icons-link:link:hover, .navbar__sidebar-social-icons-link:visited:hover {
  color: #0ef;
  -webkit-box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  border-radius: 4px;
}

.navbar__sidebar-social-icons-link:link:active, .navbar__sidebar-social-icons-link:visited:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

/*
========
PROJECTS
========
*/
.projects {
  background: #4e4f70;
  grid-column: full-start / full-end;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[7];
      grid-template-rows: repeat(7, -webkit-min-content);
      grid-template-rows: repeat(7, min-content);
  -ms-grid-columns: [nav-start full-start] min-content minmax(3.75rem, 1fr) [center-start] ([col-start] minmax(min-content, 9.375rem) [col-end])[8] [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
      grid-template-columns: [nav-start full-start] -webkit-min-content minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 9.375rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
      grid-template-columns: [nav-start full-start] min-content minmax(3.75rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 9.375rem) [col-end]) [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
}
