.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba($clr-secondary, 0.93),
      rgba($clr-secondary, 0.93)
    ),
    url(/projects/Nexter/media/images/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(3.75rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 0.9375rem;
  padding: 5rem;
  padding-top: 2.5rem;
  justify-content: center;
  transition: $transition;

  @include respond(bp-medium-869) {
    grid-column: 1 / -1;
  }

  @include respond(bp-medium-650) {
    padding: 3.125rem;
  }

  &__logo {
    height: 1.875rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 0.9375rem;
    align-items: center;
    font-size: 1rem;
    color: $clr-grey-7;
    transition: $transition;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 1.5625rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}

.realtors {
  background: $clr-secondary;
  grid-column: col-start 7 / full-end;
  padding: 1.875rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 1.25rem;
  transition: $transition;

  @include respond(bp-medium-869) {
    grid-column: 1 / -1;
  }

  @include respond(bp-medium-650) {
    padding: 3.125rem;
  }

  &__list {
    display: grid;
    column-gap: 1.25rem;
    row-gap: 5vh;
    align-items: center;
    letter-spacing: 1px;
    transition: $transition;

    @include respond(bp-medium-869) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @include respond(bp-medium-650) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 4.375rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: $clr-grey-7;
    margin-top: -3px;
  }
}
