.sidebar {
  background: $clr-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  transition: $transition;

  @include respond(bp-large-1050) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: $clr-white;
  height: 3px;
  width: 2.8125rem;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: $transition;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $clr-white;
    height: 3px;
    width: 2.8125rem;
  }

  &::before {
    transform: translateY(-0.9375rem);
  }

  &::after {
    transform: translateY(13px);
  }

  @include respond(bp-large-1050) {
    margin-top: 0;
    margin-right: 1.875rem;

    &::before {
      transform: translateY(-0.75rem);
    }

    &::after {
      transform: translateY(0.625rem);
    }
  }
}
