.story {
  &__pictures {
    background: $clr-primary;
    grid-column: full-start / col-end 4;
    background-image: linear-gradient(
        rgba($clr-primary, 0.5),
        rgba($clr-primary, 0.5)
      ),
      url(/projects/Nexter/media/images/back.jpg);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  &__img--1 {
    width: 100%;
    grid-row: 2 /6;
    grid-column: 2 /6;
    box-shadow: 0 1.25rem 3.125rem rgba(#000, 0.2);
  }

  &__img--2 {
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    box-shadow: 0 1.25rem 3.125rem rgba(#000, 0.3);
    z-index: 1;
  }

  &__content {
    background: $clr-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 3.75rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    font-size: 0.9375rem;
    font-style: italic;
    margin-bottom: 2.5rem;
  }
}
