.story {
  &__pictures {
    background: $clr-primary;
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  &__img--1 {
    width: 100%;
    grid-row: 2 /6;
    grid-column: 2 /6;
  }

  &__img--2 {
    width: 100%;
  }

  &__content {
    background: $clr-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 3.75rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    font-size: 0.9375rem;
    font-style: italic;
    margin-bottom: 2.5rem;
  }
}
