:root {
  --clr-primary-light: #ff3366;
  --clr-primary: #eb2f64;
  --clr-primary-dark: #ba265d;
  --clr-primary-1: #f7abc0;
  --clr-primary-2: #f48ca9;
  --clr-primary-3: #f16d92;
  --clr-primary-4: #ee4e7b;
  --clr-primary-5: #eb2f64;
  --clr-primary-6: #e2164f;
  --clr-primary-7: #c31345;
  --clr-primary-8: #a4103a;
  --clr-primary-9: #850d2f;
  --clr-primary-10: #660a24;
  --clr-primary-11: #470719;
  --clr-grey-0: #333;
  --clr-grey-1: #444;
  --clr-grey-2: #555;
  --clr-grey-3: #666;
  --clr-grey-4: #777;
  --clr-grey-5: #888;
  --clr-grey-6: #999;
  --clr-grey-7: #aaa;
  --clr-grey-8: #ccc;
  --clr-grey-9: #f0eeee;
  --clr-grey-10: #f4f2f2;
  --clr-grey-11: #faf9f9;
  --clr-grey-light-1: #f7f7f7;
  --clr-white: #fff;
  --clr-black: #000;
  --ff-primary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --btn-radius: 1.875rem;
  --shadow-light: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 1.25rem 3.75rem rgba(0, 0, 0, 0.3);
  --huge-dark-shadow: 0 1.25rem 3.75rem rgba(0, 0, 0, 0.3);
  --primary-3-big-shadow: 0 0 14px 4px #f16d92;
  --primary-3-small-shadow: 0 0 10px 0.25px #f16d92;
  --line-light: 2px solid #f4f2f2;
  --line-dark: 2px solid #ccc;
  --max-width: 1170px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;
  font-size: 100%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-grey-4);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--clr-primary-light)), to(var(--clr-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--clr-primary-light), var(--clr-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}

body::-webkit-scrollbar-track {
  background: none;
  margin-bottom: 1px;
  border-radius: 8px;
}

@media only screen and (max-width: 75em) {
  body::-webkit-scrollbar-track {
    margin-top: 4.5rem;
  }
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-primary-10);
  border-radius: 8rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-3);
  border-radius: 8rem;
}

::-moz-selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}

::selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}

.paragraph:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.btn-inline {
  border: none;
  color: var(--clr-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.125rem;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn-inline span {
  margin-left: 0.1875rem;
  -webkit-transition: margin-left 0.25s;
  transition: margin-left 0.25s;
}

.btn-inline:hover {
  color: var(--clr-grey-0);
}

.btn-inline:hover span {
  margin-left: 0.5rem;
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.btn {
  font-size: 0.9375rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 1.875rem;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--clr-primary-light)), to(var(--clr-primary-dark)));
  background-image: linear-gradient(to right, var(--clr-primary-light), var(--clr-primary-dark));
  color: var(--clr-white);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn__visible {
  padding: 1.25rem 4.6875rem;
}

.btn__invisible {
  position: absolute;
  padding: 1.25rem 0;
  left: 0;
  top: -100%;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--clr-primary-light)), to(var(--clr-primary-dark)));
  background-image: linear-gradient(to left, var(--clr-primary-light), var(--clr-primary-dark));
}

.btn:hover .btn__visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn:hover .btn__invisible {
  top: 0;
}

.btn:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  .search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    background: var(--clr-grey-10);
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: var(--clr-grey-10);
  border: none;
  padding: 0.4375rem 1.25rem;
  border-radius: 2.1875rem;
  width: 90%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-right: -2.0313rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background: var(--clr-grey-9);
}

@media only screen and (max-width: 31.25em) {
  .search__input:focus {
    width: 95%;
    background: var(--clr-grey-10);
  }
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--clr-grey-8);
}

.search__input:focus + .search__button {
  background: var(--clr-grey-9);
}

@media only screen and (max-width: 31.25em) {
  .search__input:focus + .search__button {
    background: var(--clr-grey-10);
  }
}

.search__button {
  border: none;
  background: var(--clr-grey-10);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: var(--clr-grey-6);
  margin-top: 2px;
}

.legal {
  font-size: 0.75rem;
  text-align: center;
  color: var(--clr-grey-8);
  padding: 1.5625rem;
}

@media only screen and (max-width: 62.5em) {
  .legal {
    display: none;
  }
}

.legal__rights {
  display: block;
}

.footer {
  display: none;
}

.footer__legal {
  display: none;
}

@media only screen and (max-width: 62.5em) {
  .footer__legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__legal--logo {
    width: 4rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer__legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__legal--logo {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .footer {
    display: block;
    position: absolute;
    width: 100%;
    padding: 2rem;
    background: var(--clr-grey-0);
    color: var(--clr-grey-6);
  }
}

.header {
  height: 4.375rem;
  background: var(--clr-white);
  border-bottom: var(--line-dark);
  -webkit-box-shadow: 0 4px 15px -7px var(--clr-primary-11);
          box-shadow: 0 4px 15px -7px var(--clr-primary-11);
  font-size: 0.875rem;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .header {
    border-bottom: none;
  }
}

@media only screen and (max-width: 31.25em) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    height: 7.5rem;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 62.5em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  height: 2.0313rem;
  margin-left: 1.25rem;
}

.user-nav {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > * {
  padding: 0 1.25rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > *:hover {
  background: var(--clr-grey-10);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 1.4063rem;
  width: 1.4063rem;
  fill: var(--clr-grey-4);
}

.user-nav__notification {
  font-size: 0.6rem;
  font-weight: bold;
  height: 1.0938rem;
  width: 1.0938rem;
  border-radius: 50%;
  background: var(--clr-primary);
  color: var(--clr-white);
  position: absolute;
  top: 0.9375rem;
  right: 0.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__user-photo {
  height: 2.375rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.hotel-view {
  background: var(--clr-white);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: var(--line-light);
  position: relative;
}

@media only screen and (max-width: 31.25em) {
  .overview {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.overview__heading {
  font-size: 1.4063rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.9375rem 1.875rem;
}

@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.125rem;
    padding: 0.7813rem 1.25rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .overview__heading {
    padding: 0.25rem 0.75rem;
  }
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 31.25em) {
  .overview__stars {
    margin-right: 3rem;
  }
}

.overview__icon-star, .overview__icon-location {
  width: 1.0938rem;
  height: 17.5008px;
  fill: var(--clr-primary);
}

.overview__location {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .overview__location {
    margin-right: 6rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .overview__location {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 auto 10px 0.65rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.overview__icon-location {
  margin-right: 0.3125rem;
}

.overview__rating {
  background: var(--clr-primary);
  color: var(--clr-white);
  margin-left: 1.875rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0.5rem 1.4063rem 0.688rem 1.4063rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 0.625rem 0.3125rem 0.625rem;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
  }
}

@media only screen and (max-width: 31.25em) {
  .overview__rating {
    padding: 1rem;
  }
}

.overview__rating-average {
  font-size: 1.4063rem;
  font-weight: 300;
  margin-bottom: -0.1875rem;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-average {
    font-size: 1.125rem;
  }
}

.overview__rating-count {
  font-size: 0.5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-count {
    font-size: 0.575rem;
  }
}

.detail {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.8125rem;
  background: var(--clr-grey-11);
  border-bottom: var(--line-light);
}

@media only screen and (max-width: 75em) {
  .detail {
    padding-bottom: 15.4rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .detail {
    padding: 1.875rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  background: var(--clr-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 2.8125rem;
}

@media only screen and (max-width: 62.5em) {
  .description {
    padding: 1.25rem;
    margin-right: 1.875rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 1.875rem;
  }
}

.user-reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  list-style: none;
  margin: 1.875rem 0;
  padding: 1.875rem 0;
  border-top: var(--line-light);
  border-bottom: var(--line-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 0.4375rem;
}

.list__item::before {
  content: "";
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
  margin-right: 0.4375rem;
  background-image: url(**/../../media/images/SVG/chevron-thin-right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background: var(--clr-primary);
  -webkit-mask-image: url(**/../../media/images/SVG/chevron-thin-right.svg);
          mask-image: url(**/../../media/images/SVG/chevron-thin-right.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
}

.recommend {
  font-size: 0.8125rem;
  color: var(--clr-grey-6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__count {
  margin-right: auto;
  padding-right: 1rem;
  color: var(--clr-primary);
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 0.1875rem solid var(--clr-white);
}

.recommend__photo:not(:last-child) {
  margin-right: -1.25rem;
}

.review {
  background: var(--clr-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 1.875rem;
  margin-bottom: 2.1875rem;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 62.5em) {
  .review {
    padding: 1.25rem;
  }
}

.review__text {
  margin-bottom: 1.25rem;
  z-index: 10;
  position: relative;
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__photo {
  height: 2.8125rem;
  width: 2.8125rem;
  border-radius: 50%;
  margin-right: 0.9375rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 0.6875rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.review__user-date {
  font-size: 0.625rem;
  color: var(--clr-grey-6);
}

.review__rating {
  color: var(--clr-primary);
  font-size: 1.375rem;
  font-weight: 300;
}

.review::before {
  content: "\201C";
  position: absolute;
  top: -27.5px;
  left: -10px;
  line-height: 1;
  font-size: 12.5rem;
  color: var(--clr-grey-9);
  font-family: sans-serif;
  z-index: 1;
}

.cta {
  padding: 2.1875rem 0;
  text-align: center;
}

@media only screen and (max-width: 62.5em) {
  .cta {
    padding: 1.5625rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .cta {
    padding: 1.5625rem 2rem;
  }
}

.cta__book-now {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

.sidebar {
  background: var(--clr-grey-0);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 75em) {
  .sidebar {
    min-height: calc(100vh - 4.375rem);
  }
}

@media only screen and (max-width: 62.5em) {
  .sidebar {
    min-height: 100%;
  }
}

.side-nav {
  font-size: 0.875rem;
  list-style: none;
  margin-top: 2.1875rem;
}

@media only screen and (max-width: 62.5em) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.3125rem;
}

@media only screen and (max-width: 62.5em) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 62.5em) {
  .side-nav__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.1875rem;
  background: var(--clr-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background 0.15s, -webkit-transform 0.25s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background 0.15s, -webkit-transform 0.25s;
  transition: transform 0.25s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background 0.15s;
  transition: transform 0.25s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background 0.15s, -webkit-transform 0.25s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background: var(--clr-primary-light);
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--clr-grey-11);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 0.9375rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 62.5em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.25rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.9375rem 0.3125rem;
  }
}

.side-nav__icon {
  width: 1.0938rem;
  height: 1.0938rem;
  margin-right: 1.25rem;
  fill: currentColor;
}

@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.4375rem;
    width: 1rem;
    height: 1rem;
  }
}

.container {
  max-width: 75rem;
  margin: 5rem auto;
  background: var(--clr-grey-11);
  -webkit-box-shadow: var(--huge-dark-shadow);
          box-shadow: var(--huge-dark-shadow);
  min-height: 31.25rem;
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
  }
}
