.container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns:
    [nav-start full-start] min-content minmax(3.75rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(min-content, 9.375rem) [col-end]
    )
    [center-end] minmax(3.75rem, 1fr) [full-end nav-end];
}
