*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;

  // Font Size set to 100% for html to use with media quries
  font-size: 100%;
}

body {
  font-family: $ff-primary;
  color: $clr-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}
