%heading {
  font-family: $ff-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
}

.heading-2 {
  @extend %heading;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: $clr-grey-light-1;
  }

  &--dark {
    color: $clr-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-style: 1rem;
  color: $clr-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.1875rem;

  &--light {
    color: $clr-grey-light-1;
  }

  &--dark {
    color: $clr-grey-dark-1;
  }
}

.mb-sm {
  margin-bottom: 1.25rem;
}

.mb-md {
  margin-bottom: 1.875rem;
}

.mb-lg {
  margin-bottom: 2.5rem;
}

.mb-hg {
  margin-bottom: 5rem;
}
