/////////////////////////////////////
// HOTEL VIEW
.hotel-view {
  background: var(--clr-white);
  flex: 1;
}

/////////////////////////////////////
// HOTEL GALLERY - TOP
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/////////////////////////////////////
// HOTEL GALLERY
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line-light);
  position: relative;

  @include respond(bp-small-500) {
    flex-wrap: wrap;
  }

  &__heading {
    font-size: 1.4063rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.9375rem 1.875rem;

    @include respond(bp-medium-600) {
      font-size: 1.125rem;
      padding: 0.7813rem 1.25rem;
    }

    @include respond(bp-small-500) {
      padding: 0.25rem 0.75rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;

    @include respond(bp-small-500) {
      margin-right: 3rem;
    }
  }

  &__icon-star,
  &__icon-location {
    width: 1.0938rem;
    height: 17.5008px;
    fill: var(--clr-primary);
  }

  &__location {
    font-size: 0.75rem;
    display: flex;
    align-items: center;

    @include respond(bp-medium-600) {
      margin-right: 6rem;
    }

    @include respond(bp-small-500) {
      flex: 0 0 50%;
      margin: 0 auto 10px 0.65rem;
      height: fit-content;
    }
  }

  &__icon-location {
    margin-right: 0.3125rem;
  }

  &__rating {
    background: var(--clr-primary);
    color: var(--clr-white);
    margin-left: 1.875rem;
    align-self: stretch;
    padding: 0.5rem 1.4063rem 0.688rem 1.4063rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond(bp-medium-600) {
      padding: 0 0.625rem 0.3125rem 0.625rem;
      height: 100%;
      top: 0;
      right: 0;
      position: absolute;
    }

    @include respond(bp-small-500) {
      padding: 1rem;
    }
  }

  &__rating-average {
    font-size: 1.4063rem;
    font-weight: 300;
    margin-bottom: -0.1875rem;

    @include respond(bp-medium-600) {
      font-size: 1.125rem;
    }
  }

  &__rating-count {
    font-size: 0.5rem;
    text-transform: uppercase;

    @include respond(bp-medium-600) {
      font-size: 0.575rem;
    }
  }
}
