/////////////////////////////////////
// SIDE NAVIGATION
.sidebar {
  background: var(--clr-grey-0);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav {
  font-size: 0.875rem;
  list-style: none;
  margin-top: 2.1875rem;

  @include respond(bp-large-1000) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.3125rem;

      @include respond(bp-large-1000) {
        margin-bottom: 0;
      }
    }

    @include respond(bp-large-1000) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.1875rem;
    background: var(--clr-primary);
    transform: scaleY(0);
    transition: transform 0.25s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background 0.15s;

    @include respond(bp-large-1000) {
      transform: scaleX(0);
      bottom: 0;
      right: 0;
      transform-origin: bottom;
    }
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;

    @include respond(bp-large-1000) {
      transform: scaleX(1);
      transform-origin: bottom;
    }
  }

  &__item:active::before {
    background: var(--clr-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--clr-grey-11);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.9375rem 1.875rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    @include respond(bp-large-1000) {
      justify-content: center;
      padding: 1.25rem;
    }
  }

  &__icon {
    width: 1.0938rem;
    height: 1.0938rem;
    margin-right: 1.25rem;
    fill: currentColor;
  }
}
