.header {
  height: 85vh;
  background: linear-gradient(
      to right bottom,
      rgba($clr-home-page-light, 0.8),
      rgba($clr-home-page-dark, 0.8)
    ),
    url(../media/images/hero-small.jpg) top center/cover no-repeat;

  @supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or
    (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  @media (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-resolution: 192dpi) and (min-width: 37.5em),
    (min-width: 125em) {
    background: linear-gradient(
        to right bottom,
        rgba($clr-home-page-light, 0.8),
        rgba($clr-home-page-dark, 0.8)
      ),
      url(../media/images/hero.jpg) top center/cover no-repeat;
  }

  @include respond(tab-land) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 81.5vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 81.5vh, 0 100%);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  }

  &__logo-container {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  &__logo {
    height: 2.25rem;
  }

  &__hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
