.header {
  height: 95vh;
  background: linear-gradient(
      to right bottom,
      rgba($clr-home-page-light, 0.8),
      rgba($clr-home-page-dark, 0.8)
    ),
    url(../media/images/hero.jpg) top center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-container {
    @include absCenter;
    top: 2.5rem;
    left: 2.5rem;
  }

  &__logo {
    height: 2.25rem;
  }

  &__hero-text {
    @include absCenter;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
