/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;

  // Font Size set to 100% for html to use with media quries
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  height: 200vh;

  // Body Scrollbar color
  &::-webkit-scrollbar {
    width: 0.65rem;
    height: 0.65rem;
  }

  &::-webkit-scrollbar-track {
    background: none;
    margin-top: 6rem;
    margin-bottom: 1px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $clr-primary-1;
    border-radius: 8rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $clr-primary-2;
    border-radius: 8rem;
  }
}

::selection {
  background: $clr-primary;
  color: $clr-white;
}
