// RESET
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;

  // Font Size set to 100% for html to use with media quries
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-grey-4);
  background-image: linear-gradient(
    to right bottom,
    var(--clr-primary-light),
    var(--clr-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;

  // Body Scrollbar color
  &::-webkit-scrollbar {
    width: 0.65rem;
    height: 0.65rem;
  }

  &::-webkit-scrollbar-track {
    background: none;
    margin-bottom: 1px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--clr-primary-10);
    border-radius: 8rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--clr-primary-3);
    border-radius: 8rem;
  }
}

::selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}
